@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Forms.AuthAddEditCompanyForm

@{
    var formAction = Model.IsExistingCompany ? "EditCompany" : "RegisterCompany";
    var submitButtonText = Model.IsExistingCompany ? "Uložit" : "Přidat firmu";
}

@Html.RequireScript("/scripts/views/auth/addEditCompany")


@using (Html.BeginForm(formAction, "Auth", FormMethod.Post, new { enctype = "multipart/form-data", id = "_RegisterCompanyForm", @class = "ui form" }))
{
    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">

          @Html.RenderFormValidationResult(Model.FormResult.IsSuccess)

        </div>

        <div class="sixteen wide mobile eight wide tablet eight wide computer column">


            <h4 class="ui dividing header">
                Obecné informace
            </h4>

            <div class="field required">
                <label>Název společnosti</label>
                <input name="CompanyName" placeholder="" type="text" value="@(Model.CompanyName)">
            </div>

            <div class="field required">
                <label>E-mail (veřejný e-mail firmy)</label>
                <input name="PublicEmail" placeholder="" type="text" value="@(Model.PublicEmail)">
            </div>

            <div class="field required">
                <label>Kategorie firmy</label>

                <div class="ui fluid search selection dropdown _CompanyCategoryDropdown">
                    <input type="hidden" name="CompanyCategoryID" value="@Model.CompanyCategoryID">
                    <i class="dropdown icon"></i>
                    <div class="default text">Vyberte kategorii</div>
                    <div class="menu">
                        @foreach (var category in Model.CompanyCategories)
                        {
                            if (category.CompanyCategoryID == Model.CompanyCategoryID)
                            {
                                <div class="item" data-value="@category.CompanyCategoryID">@category.CompanyCategoryName</div>
                            }
                            else
                            {
                                <div class="item" data-value="@category.CompanyCategoryID">@category.CompanyCategoryName</div>
                            }
                        }

                    </div>
                </div>
            </div>

            <div class="field">
                <label>Dlouhý popis</label>
                <textarea id="_LongDescription" name="LongDescription">@(Model.LongDescription)</textarea>
            </div>

            <div class="field required">
                <label>Rok založení</label>
                <select name="YearFounded" class="ui dropdown _YearFoundedDropdown">
                    <option value="">Rok</option>
                    @for (int i = DateTime.Now.Year; i >= 1950; i--)
                    {
                        if (Model.YearFounded == i)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>

            <div class="field required">
                <label>Počet zaměstanců</label>
                <select name="CompanySize" class="ui dropdown _CompanySizeDropdown">
                    <option value="">Počet</option>
                    @foreach (var size in Model.AllowedCompanySizes)
                    {
                        if (size.Value.Equals(Model.CompanySize.ToString(), StringComparison.OrdinalIgnoreCase))
                        {
                            <option selected value="@size.Value">@size.Name</option>
                        }
                        else
                        {
                            <option value="@size.Value">@size.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="field required">
                <label>
                    Logo
                </label>

                <img class="ui image small" data-src="@ImageHelper.GetCompanyLogo(Model.ID)" src="@ImageHelper.GetTransparentImage()" alt="Logo" />

                <input class="w-margin-top-10" type="file" name="Logo">
            </div>

            <div class="field required">
                <label>
                    Banner (zobrazen v profilu firmy)
                </label>

                <img class="ui image" data-src="@ImageHelper.GetCompanyBanner(Model.ID)" src="@ImageHelper.GetTransparentImage()" alt="Banner" />

                <input class="w-margin-top-10" type="file" name="Banner">
            </div>

        </div>
        <div class="sixteen wide mobile eight wide tablet eight wide computer column">

            <h4 class="ui dividing header">
                Lokace
            </h4>

            <div class="field required">
                <label>Adresa</label>
                <input name="Address" placeholder="" type="text" value="@(Model.Address)">
            </div>

            <div class="field required">
                <label>Město</label>
                <input name="City" placeholder="" type="text" value="@(Model.City)">
            </div>

            <div class="field required">
                <label>Stát</label>

                <div class="ui fluid search selection dropdown _StateDropdown">
                    <input type="hidden" name="Country" value="@Model.Country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Stát</div>
                    <div class="menu">
                        @foreach (var country in Model.Countries)
                        {
                            if (country.CoutryCodeName.Equals(Model.Country, StringComparison.OrdinalIgnoreCase))
                            {
                                <div class="item active" data-value="@country.CoutryCodeName">@Html.Raw(country.FlagIconHtml) @country.CountryName</div>
                            }
                            else
                            {
                                <div class="item" data-value="@country.CoutryCodeName">@Html.Raw(country.FlagIconHtml) @country.CountryName</div>
                            }
                        }

                    </div>
                </div>
            </div>

            <div class="field">
                <label>Zeměpisná šířka (Lat)</label>
                <input name="Lat" placeholder="" type="text" value="@(Model.Lat)">
            </div>

            <div class="field">
                <label>Zeměpisná délka (Lng)</label>
                <input name="Lng" placeholder="" type="text" value="@(Model.Lng)">
            </div>

            <h4 class="ui dividing header">
                Social
            </h4>

            <div class="field required">
                <label>Web</label>
                <input name="Web" placeholder="např. http://mycompany.com" type="text" value="@(Model.Web)">
            </div>

            <div class="field">
                <label>Facebook</label>
                <input name="Facebook" placeholder="např. http://facebook.com/myCompany" type="text" value="@(Model.Facebook)">
            </div>

            <div class="field">
                <label>Twitter</label>
                <input name="Twitter" placeholder="např. http://twitter.com/myCompany" type="text" value="@(Model.Twitter)">
            </div>

            <div class="field">
                <label>LinkedIn</label>
                <input name="LinkedIn" placeholder="např. http://linkedin.com/company/myCompany" type="text" value="@(Model.LinkedIn)">
            </div>

            <button class="ui button submit primary" type="submit">
                @submitButtonText
            </button>

            <div class="ui error message"></div>
        </div>
    </div>

    @Html.Hidden("ID", Model.ID)
}


