@model UI.Builders.System.Views.SystemEventLogView
@using Core.Helpers;
@using UI.Extensions;
@using PagedList.Mvc;

@{
    Model.Metadata.BasicMetadata.Title = $"Event log";
    Model.Metadata.BasicMetadata.Description = $"Event log";
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

@Html.RequireScript("/scripts/views/system/eventLog")

<div class="ui grid">

    <div class="sixteen wide column">

        <div class="ui segment">


            <h1>
                Event log
            </h1>

            @foreach (var log in Model.Events)
            {
                <div class="ui modal" id="_Modal_@log.ID">
                    <div class="header">Detaily</div>
                    <div class="content">
                        <table class="ui celled table">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>ID:</strong>
                                    </td>
                                    <td>
                                        @log.ID
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Čas:</strong>
                                    </td>
                                    <td>
                                        @log.Created
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Uživatel:</strong>
                                    </td>
                                    <td>
                                        @log.ApplicationUserName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Url:</strong>
                                    </td>
                                    <td class="w-body-dont-break">
                                        @log.Url
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Exception:</strong>
                                    </td>
                                    <td class="w-body-dont-break">
                                        @log.ExceptionMessage
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Inner exception:</strong>
                                    </td>
                                    <td class="w-body-dont-break">
                                        @log.InnerException
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Stacktrace:</strong>
                                    </td>
                                    <td class="w-body-dont-break">
                                        @log.Stacktrace
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th class="collapsing">
                            #
                        </th>
                        <th>
                            Čas
                        </th>
                        <th>
                            Zpráva
                        </th>
                        <th>
                            Url
                        </th>
                        <th>
                            Uživatel
                        </th>
                    </tr>
                </thead>
                @foreach (var log in Model.Events)
            {
                    <tr>
                        <td class="collapsing">
                            <a href="#" class="_ShowLogModal" data-logid="@log.ID"><i title="Zobrazit" class="unhide icon black"></i></a>
                        </td>
                        <td>
                            @log.Created
                        </td>
                        <td class="w-body-dont-break">
                            @StringHelper.ShortenText(log.ExceptionMessage, 60)
                        </td>
                        <td class="w-body-dont-break">
                            @log.Url
                        </td>
                        <td>
                            @log.ApplicationUserName
                        </td>
                    </tr>
                }
            </table>

            <div class="w-margin-top-10">
                @Helpers.PagerHelper.GetPager(Model.Events)
            </div>
        </div>
    </div>
</div>