@model UI.Builders.Thesis.Views.ThesisDetailView
@using Core.Helpers
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.CompanyGallery.Models
@using UI.Modules.CompanyGallery.Views
@using UI.Modules.Header

@{
    Model.Metadata.BasicMetadata.Title = $"{Model.Thesis.ThesisName} | závěrečná práce";
    Model.Metadata.BasicMetadata.Description = Model.Thesis.Description;
    Model.Metadata.Social.GoogleMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Thesis.Company.CompanyGuid);
    Model.Metadata.Social.OpenGraphMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Thesis.Company.CompanyGuid);

    Model.Header = new UiHeader()
    {
        Title = null,
        Type = UiHeaderTypeEnum.BackgroundImage,
        ImagePath = Helpers.ImageHelper.GetCompanyBanner(Model.Thesis.Company.CompanyGuid),
        Size = UIHeaderSizeEnum.Normal
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    // get gallery images
    var galleryImages = Helpers.ImageHelper.GetCompanyGalleryImages(Model.Thesis.Company.CompanyGuid).Select(m => new GalleryImage()
    {
        Url = m.Value
    }).ToList();
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/thesis/detail")

<div id="_ThesisMenuWrapper" class="w-company-fixed-wrapper">
    <div class="ui vertical segment w-company-menu-wrapper">
        <div class="ui container">

            <img alt="Logo" class="ui mini image w-company-icon" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyLogo(Model.Thesis.Company.CompanyGuid)">

            <h1>
                @Model.Thesis.ThesisName
            </h1>

            <div class="ui right floated horizontal list w-internship-menu ">
                <div class="item">
                    <div class="middle aligned content">
                        <a href="@Url.Action("Thesis", "Form", new {id = Model.Thesis.ID, codeName = Model.Thesis.CodeName})">
                            <div class="ui button primary">Odpovědět</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container padding-bottom-30">
    <hr class="w-hr-primary w-hr-margin-top-0" />
    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                <div>
                    <div class="ui header w-feature-primary">
                        <i class="university icon icon w-color-primary"></i>
                        <div class="content">
                            @Model.Thesis.ThesisTypeNameConverted
                        </div>
                    </div>

                    <div class="w-margin-top-30">
                        @Html.Raw(Model.Thesis.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-section-medium">
    <div class="ui container">
        <div class="w-section">
            <div class="ui centered grid">
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="home icon icon"></i>
                        <div class="content">
                            <a href="@Url.Action("Index", "Company", new {codeName = Model.Thesis.Company.CompanyCodeName})">
                                @Model.Thesis.Company.CompanyName
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui center aligned header w-feature-primary">
                        <i class="dollar icon icon"></i>
                        <div class="content">
                            @if (Model.Thesis.IsPaid)
                            {
                                @(Helpers.TextHelper.GetThesisAmount(Model.Thesis.HideAmount, Model.Thesis.Amount, Model.Thesis.CurrencyName, Model.Thesis.CurrencyShowSignOnLeft))
                            }
                            else
                            {
                                <span>Bez odměny</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="calendar icon icon"></i>
                        <div class="content">
                            Zadáno @DateHelper.FormatDate(Model.Thesis.ActiveSince)
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="tag icon icon"></i>
                        <div class="content">
                            @Model.Thesis.InternshipCategoryName
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Helpers.HeaderHelper.RenderHeader(new UiHeader()
{
    Color = UIHeaderColorEnum.Dark,
    Type = UiHeaderTypeEnum.Colored,
    Title = "Zaujala Tě tato práce?",
    Buttons = new List<UIHeaderButton>()
            {
                new UIHeaderButton()
                {
                    Text = "Odpovědět",
                    Type = UIHeaderButtonTypeEnum.Primary,
                    ButtonUrl = Url.Action("Thesis", "Form", new {id = Model.Thesis.ID, codeName = Model.Thesis.CodeName})
                }
            }
})


@if (galleryImages.Any())
{
    <div class="w-section-light">
        <div class="ui container">
            <div class="w-section">
                @Html.Partial("~/Views/Modules/Gallery/Base.cshtml", new GalleryView()
           {
               GalleryID = "_CompanyGallery",
               Images = galleryImages
           })
            </div>
        </div>
    </div>
}



