@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.Header
@model UI.Builders.Thesis.Views.ThesisNotFoundView

@{
    Model.Metadata.BasicMetadata.Title = "Práce nenalezena";
    Model.Metadata.BasicMetadata.Description = "Požadováná nabídka na vypracování diplomové nebo bakalářské práce nebyla nalezena";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Zkus se podívat na nabídku níže, třeba najdeš něco jiného!",
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Primary,
        Size = UIHeaderSizeEnum.Normal
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section">
            <h2>
                Mohlo by Tě zajímat
            </h2>
            @if (Model.LatestTheses.Any())
            {
                <div class="ui divided items">
                    @foreach (var thesis in Model.LatestTheses)
                    {
                        <div class="item">
                            <div class="ui tiny image">
                                <a href="@Url.Action("Index", "Company", new { codeName = thesis.Company.CompanyCodeName})">
                                    <img alt="" src="@Helpers.ImageHelper.GetCompanyLogo(thesis.Company.CompanyGuid)">
                                </a>
                            </div>
                            <div class="middle aligned content">
                                <a href="@Url.Action("Index", "Thesis", new { id = thesis.ID, codeName = thesis.CodeName})">@thesis.ThesisName</a>
                                <p class="w-font-size-small">
                                    @thesis.ThesisTypeNameConverted
                                </p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="w-margin-top-30">
    @Helpers.HeaderHelper.RenderHeader(new UiHeader()
{
    Type = UiHeaderTypeEnum.Colored,
    Color = UIHeaderColorEnum.Dark,
    Title = "Stále jsi nic nenašel?",
    Buttons = new List<UIHeaderButton>()
        {
            new UIHeaderButton()
            {
                Type = UIHeaderButtonTypeEnum.Primary,
                Text = "Procházet všechny práce",
                ButtonUrl = Url.Action("Index", "Theses")
            }
        }
})
</div>

