@model UI.Modules.Questionnaire.Forms.QuestionnaireCreateEditForm
@Helpers.ScriptHelper.RequireScript("/scripts/views/modules/questionnaire/createEditQuestionnaire")   

@{
    var formAction = Model.IsNewQuestionare ? "NewQuestionnaire" : "EditQuestionnaire";
}

@Html.Partial("~/Views/Modules/Questionnaire/QuestionTemplates.cshtml")

<input type="hidden" id="_QuestionnaireInitialState" value="@Model.InitialStateJson" />

<div class="ui modal large" id="_QuestionnaireModal">
    <div class="header" id="_ModalHeaderLabel"></div>
    <div class="content">
        <div class="ui form">
            <div class="field required">
                <label>Otázka</label>
                <input type="text" id="_QuestionText">
            </div>
            <div class="field required">
                <label>Typ</label>
                <select id="_TypeDropdown" class="ui dropdown">
                    <option selected="selected" value="RadioButton">Výběr z možností (radio buttons)</option>
                    <option value="SimpleTextBox">Text box</option>
                </select>
            </div>
            <div>
                <div class="field required w-margin-top-14">
                    <div id="_QuestionInsertTemplatePlaceholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button" id="_ModalSaveLabel">Přidat</div>
        <div class="ui negative button">Zrušit</div>
    </div>
</div>

@using (Html.BeginForm(formAction, "AuthCompany", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="QuestionnaireID" value="@Model.QuestionnaireID"/>

    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">

            @Helpers.MessageHelper.RenderFormValidationResult(Model.FormResult.IsSuccess)

            <div class="ui form w-margin-top-10">
                <div class="field required">
                    <label>Název dotazníku</label>
                    <input type="text" name="QuestionnaireName" value="@Model.QuestionnaireName">
                </div>
            </div>

            <div class="w-margin-top-14">
                <div class="ui button primary" id="_AddQuestion">
                    Přidat otázku
                </div>
            </div>
        </div>

        <div class="sixteen wide column">
            <div id="_Questionnaire">
            </div>
        </div>

        <div class="w-margin-top-14">
            <button class="ui button secondary" type="submit">
                Uložit
            </button>
        </div>
    </div>
}

