@model UI.Builders.Gallery.Views.GalleryView
@using UI.Helpers;
@using UI.Extensions;

@Html.RequireScript("/scripts/views/gallery/base")
@Html.RequireCSS("/scripts/addons/unitegallery-master/dist/css/unite-gallery")

<div id="_GalleryID" data-id="@Model.GalleryID"></div>

<div class="ui segment">
    <div id="@Model.GalleryID" class="w-body-hide">
        @foreach (var image in Model.Images)
        {
            <img alt="" src="@image.Url"
                 data-image="@image.Url"
                 data-description="">
        }
    </div>
</div>



