@model UI.Builders.Account.Models.ExternalLoginListViewModel

@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        //External logins are not registered
    }
    else
    {
        <div>
            @foreach (AuthenticationDescription p in loginProviders)
            {
                if (p.AuthenticationType == "Google")
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "x-display-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        <button name="provider" class="ui google plus button fluid w-margin-top-10" value="@p.AuthenticationType">
                            <i class="google icon"></i>
                            Přihlásit přes Google
                        </button>
                    }
                }
                else if (p.AuthenticationType == "Facebook")
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "x-display-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        <button name="provider" class="ui facebook button fluid w-margin-top-10" value="@p.AuthenticationType">
                            <i class="facebook icon"></i>
                            Přihlásit přes Facebook
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "x-display-inline" }))
                    {
                        <button name="provider" class="ui big blue labeled icon button fluid  w-margin-top-10" value="@p.AuthenticationType">
                            <i class="star  icon"></i>
                            @p.AuthenticationType
                        </button>
                    }
                }
            }
        </div>
    }
}
