@model UI.Builders.Account.Views.ExternalLoginListViewModel

@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    if (!loginProviders.Any())
    {
        //External logins are not registered
    }
    else
    {
        <div>
            @foreach (var p in loginProviders)
            {
                if (p.AuthenticationType == "Google")
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl }, FormMethod.Post, new { @class = "" }))
                    {
                        @Html.AntiForgeryToken()
                        <button name="provider" class="ui google plus fluid button" value="@p.AuthenticationType">
                            <i class="google g icon"></i>
                            Přihlásit přes Google
                        </button>
                    }
                }
                else if (p.AuthenticationType == "Facebook")
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl }, FormMethod.Post, new { @class = "" }))
                    {
                        @Html.AntiForgeryToken()
                        <button name="provider" class="ui facebook button fluid w-margin-top-10" value="@p.AuthenticationType">
                            <i class="facebook f icon"></i>
                            Přihlásit přes Facebook
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl }, FormMethod.Post, new { @class = "" }))
                    {
                        <button name="provider" class="ui big blue labeled icon fluid button w-margin-top-10" value="@p.AuthenticationType">
                            <i class="star  icon"></i>
                            @p.AuthenticationType
                        </button>
                    }
                }
            }
        </div>
    }
}
