@model UI.Builders.Account.Views.LoginViewModel
@{
    ViewBag.Title = "Přihlášení";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/_PageBodyPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="three wide computer ten wide tablet sixteen wide mobile column">
            <h1>@ViewBag.Title</h1>

            <div class="w-margin-top-30">
                @Html.Partial("_ExternalLoginsListPartial", new UI.Builders.Account.Views.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="ui negative message w-body-text-left w-margin-top-30">
                        <p>
                            @Html.ValidationSummary(false)
                        </p>
                    </div>
                }

                <div class="w-margin-top-30">
                    Nebo použij svůj e-mail
                </div>

                <div class="ui form w-margin-top-30">
                    @{
                        var email = Model?.LoginForm != null ? Model.LoginForm.Email : "";
                    }
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Email" placeholder="E-mail" type="text" value="@email">
                            <i class="mail outline icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Password" type="password" placeholder="Heslo">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <input type="submit" class="ui submit button primary" value="Přihlásit" />
                </div>
                        }

            <div class="w-margin-top-30 w-font-size-small">
                Ještě nemáš účet? @Html.ActionLink("Zaregistruj se", "Register", "Account")
                <div>
                    @Html.ActionLink("Zapomenuté heslo", "ForgotPassword")
                </div>
            </div>
        </div>
    </div>
</div>
