@using UI.Builders.Master.Enums
@model UI.Builders.Account.Views.LoginViewModel
@{
    Model.Metadata.BasicMetadata.Title = "Přihlášení";
    Model.Metadata.BasicMetadata.Description = "Přihlášení do účtu";

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}


<div class="w-section-medium">
    <div class="ui container">
        <div class="w-section w-section-center w-section-no-top-margin">
            <div class="ui centered grid">
                <div class="ui sixteen wide mobile sixteen wide tablet five wide computer column w-body-text-center">
                    <h1>
                        Přihlásit
                    </h1>
                    @Html.Partial("_ExternalLoginsListPartial", new UI.Builders.Account.Views.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, ButtonPrefixText = "Přihlásit"})
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section w-section-center">
            <div class="ui centered grid">
                <div class="ui sixteen wide mobile sixteen wide tablet five wide computer column w-body-text-center">

                    <h2>
                        Lokální účet
                    </h2>

                    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()

                        @Helpers.MessageHelper.RenderValidationSummary()

                        <div class="ui form">
                            @{
                                var userName = Model?.LoginForm != null ? Model.LoginForm.UserName : "";
                            }
                            <div class="field">
                                <div class="ui left icon input">
                                    <input name="UserName" placeholder="E-mail" type="text" value="@userName">
                                    <i class="mail outline icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input name="Password" type="password" placeholder="Heslo">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <input type="submit" class="ui button primary" value="Přihlásit" />
                        </div>
                                }

                    <div class="w-margin-top-30 w-font-size-small">
                        <div>
                            @Html.ActionLink("Zapomenuté heslo", "ForgotPassword")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

