@model UI.Builders.Account.Views.LoginViewModel
@{
    ViewBag.Title = "Přihlášení";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui segment basic">
    @*Divider needs to be inside a segment*@
    <div class="ui two column middle aligned relaxed fitted stackable grid">
        <div class="column">

            <h1>@ViewBag.Title</h1>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="ui negative message w-body-text-left w-margin-top-30">
                        <p>
                            @Html.ValidationSummary(false)
                        </p>
                    </div>
                }
  
                <div class="ui form w-margin-top-30">
                    @{
                        var userName = Model?.LoginForm != null ? Model.LoginForm.UserName : "";
                    }
                    <div class="ten wide field">
                        <div class="ui left icon input">
                            <input name="UserName" placeholder="E-mail" type="text" value="@userName">
                            <i class="mail outline icon"></i>
                        </div>
                    </div>
                    <div class="ten wide field">
                        <div class="ui left icon input">
                            <input name="Password" type="password" placeholder="Heslo">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <input type="submit" class="ui submit button primary" value="Přihlásit" />
                </div>
                        }

            <div class="w-margin-top-30 w-font-size-small">
                Ještě nemáš účet? @Html.ActionLink("Zaregistruj se", "Register", "Account")
                <div>
                    @Html.ActionLink("Zapomenuté heslo", "ForgotPassword")
                </div>
            </div>

        </div>

        <div class="ui vertical divider">
            Nebo
        </div>

        <div class="center aligned column">
            @Html.Partial("_ExternalLoginsListPartial", new UI.Builders.Account.Views.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>


