@using Core.Config
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthAvatarView
@{
    Model.Metadata.BasicMetadata.Title = "Avatar";
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Nastavení", Url.Action("UserSettings", "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            @Helpers.MessageHelper.RenderInfoMessage($"Avatar bude automaticky zmenšen na {Core.Config.FileConfig.AvatarSideSize}x{Core.Config.FileConfig.AvatarSideSize} px")
            
            @Helpers.UploadHelper.RenderFineUploader("_AvatarUploader", Url.Action("Avatar", "Upload"), FileConfig.AllowedImageExtensions.ToList(), 1, AppConfig.MaximumFileSize, "_AvatarOfCurrentUser")

            <div class="w-margin-top-20 _AvatarOfCurrentUser">
                <h3>Aktivní avatar</h3>
                <img alt="" class="ui image tiny" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetUserAvatar(Model.Master.CurrentUser.Id)"/>
            </div>
        </div>
    </div>
</div>
