@using UI.Helpers;
@model UI.Builders.Auth.Views.AuthAvatarView

@{
    Model.Metadata.BasicMetadata.Title = "Avatar";
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

@using (Html.BeginForm("Avatar", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Helpers.MessageHelper.RenderInfoMessage($"Avatar bude automaticky zmenšen na {Core.Config.FileConfig.AvatarSideSize}x{Core.Config.FileConfig.AvatarSideSize} px")

    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet six wide computer column">

            @Helpers.MessageHelper.RenderFormValidationResult(Model.AvatarForm.FormResult.IsSuccess)


            <div>
                <img alt="" class="ui image tiny" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetUserAvatar(Model.Master.CurrentUser.Id)" />
            </div>

            <div class="ui form w-margin-top-10">
                <div class="field required">
                    <input type="file" name="Avatar">
                </div>

                <button class="ui button primary" type="submit">
                    Nahrát
                </button>
            </div>

        </div>
    </div>
}