@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Views.CompanyGalleryView

@{
    ViewBag.Title = "Galerie";
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

@Html.RequireScript("/scripts/views/auth/authCompanyGallery")
@Html.RequireCSS("/scripts/addons/dropzone/dropzone")

<h1>
    Galerie
</h1>

@Html.RenderInfoMessage($"Pouze soubory typu <em>{String.Join(", ", Core.Config.FileConfig.AllowedImageExtensions)} </em> do velikosti <em>{Core.Helpers.ConvertHelper.FormatBytes(Core.Config.AppConfig.MaximumFileSize)}</em> budou uloženy")

@using (Html.BeginForm("CompanyGallery", "Auth", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "_GalleryDropzoneForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="CompanyID" value="x" />

    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>

}

<div class="ui grid w-margin-top-14">
    @foreach (var image in ImageHelper.GetCompanyGalleryImages(Model.Master.CurrentCompany.CompanyGUID))
    {
        <div class="sixteen wide mobile eight wide tablet five wide computer column w-auth-gallery-column">
            <div class="w-auth-gallery-image-wrapper">
                <img class="image" src="@image.Value"/>
            </div>
        </div>
    }
</div>




