@using UI.Helpers;
@model UI.Builders.Auth.Views.CompanyGalleryView

@{
    Model.Metadata.BasicMetadata.Title = "Galerie";
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authCompanyGallery")
@Helpers.ScriptHelper.RequireCss("/scripts/addons/dropzone/dropzone")

<div class="w-body-hide" id="_CompanyGalleryGuid" data-guid="@Model.Master.CurrentCompany.CompanyGuid"></div>

<h1>
    Galerie
</h1>

@Helpers.MessageHelper.RenderInfoMessage($"Pouze soubory typu <em>{string.Join(", ", Core.Config.FileConfig.AllowedImageExtensions)} </em> do velikosti <em>{Core.Helpers.ConvertHelper.FormatBytes(Core.Config.AppConfig.MaximumFileSize)}</em> budou uloženy")

@using (Html.BeginForm("CompanyGallery", "Auth", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "_GalleryDropzoneForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="CompanyID" value="x" />

    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>

}


<div class="ui three column grid _CompanyGalleryCards w-margin-top-14">
    @foreach (var image in Helpers.ImageHelper.GetCompanyGalleryImages(Model.Master.CurrentCompany.CompanyGuid))
    {
        <div class="column">
            <div class="ui fluid card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button _DeleteGallery" data-filename="@image.Key">Smazat</div>
                            </div>
                        </div>
                    </div>
                    <img alt="" src="@image.Value">
                </div>
            </div>
        </div>
    }
</div>

@Helpers.MessageHelper.RenderWarningMessage("Firefox dočasně nepodporuje výše použitý drag & drop a je nutno kliknout do okna pro výběr souborů")






