@using UI.Builders.Auth.Enum
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@using UI.Modules.InfoMessage.Enums
@using UI.Modules.InfoMessage.Views
@model UI.Builders.Auth.Views.AuthMasterView
@{
    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Dark,
        Size = UIHeaderSizeEnum.Inherit
    };

    // configure admin tab
    if (Model.Master.CurrentUser.Privilege == Core.Helpers.Privilege.PrivilegeLevel.Admin)
    {
        Model.Tabs.Admin.Display = true;
    }

    // get active menu item
    var activeMenuItem = Core.Helpers.EnumHelper.ParseEnum(Helpers.UrlHelper.CurrentAction, AuthMenuActionEnum.None);
}

@*Display warning message indicating that other users can see user's e-mail address*@
@{
    // EmailVisibleToOthers from AuthMaster has priority to fix editing user
    var emailVisible = Model.AuthMaster.EmailVisibleForPeople == null ? Model.Master.CurrentUser.EmailVisibleToOthers : Model.AuthMaster.EmailVisibleForPeople ?? false;
}
@if (emailVisible)
{
    var infoMessage = new InfoMessageView()
    {
        MessageID = "emailnotice",
        Message = $"Ostatní uživatelé vidí část Tvého e-mailu <strong>'{Model.Master.CurrentUser.UserDisplayName}'</strong>. Pro úplné skrytí nebo změnu můžeš vyplnit své <a href=\"{Url.Action("EditProfile", "Auth")}\">jméno</a>",
        IsClosable = true,
        MessageType = InfoMessageTypeEnum.Warning,
        ClosedForDaysCount = 1
    };
    Html.RenderPartial("~/Views/Modules/InfoMessage/InfoMessage.cshtml", infoMessage);
}

<div class="ui container w-padding-bottom-30">
    @if (activeMenuItem == AuthMenuActionEnum.CompanyTypeIndex)
    {
        <div class="ui centered grid w-padding-top-30">
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    <a href="@Url.Action("Internships", "AuthCompany")">
                        <h2 class="ui center aligned icon header">
                            <i class="sitemap icon"></i>
                            Stáže
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    <a href="@Url.Action("Theses", "AuthCompany")">
                        <h2 class="ui center aligned icon header">
                            <i class="university icon"></i>
                            Závěrečné práce
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    <a href="@Url.Action("Questionnaires", "AuthCompany")">
                        <h2 class="ui center aligned icon header">
                            <i class="idea icon"></i>
                            Dotazníky 
                            @if (Model.AuthMaster.CompanyMaster.QuestionnaireSubmissionsCount > 0)
                            {
                                <span class="w-font-negative"> @Model.AuthMaster.CompanyMaster.QuestionnaireSubmissionsCount </span>
                            }
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    @if (Model.Master.CurrentCompany.IsAvailable)
                    {
                        <a href="@Url.Action("EditCompany", "AuthCompany")">
                            <h2 class="ui center aligned icon header">
                                <i class="building icon"></i>
                                Firma
                            </h2>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("RegisterCompany", "AuthCompany")">
                            <h2 class="ui center aligned icon header">
                                <i class="building icon"></i>
                                Firma
                            </h2>
                        </a>
                    }
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment w-link-segment">
                    <a href="@Url.Action("Conversations", "Auth")">
                        <h2 class="ui center aligned icon header">
                            <i class="pencil icon"></i>
                            Zprávy
                            @if (Model.Master.StatusBox.NewMessagesCount > 0)
                            {
                                <span class="w-font-negative"> @Model.Master.StatusBox.NewMessagesCount </span>
                            }
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    <a href="@Url.Action("UserSettings", "Auth")">
                        <h2 class="ui center aligned icon header">
                            <i class="settings icon"></i>
                            Nastavení
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    <a href="@Url.Action("CompanyGallery", "AuthCompany")">
                        <h2 class="ui center aligned icon header">
                            <i class="image icon"></i>
                            Firemní galerie
                        </h2>
                    </a>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui segment  w-link-segment">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "_MainLogoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('_MainLogoutForm').submit()">
                            <h2 class="ui center aligned icon header">
                                <i class="sign out icon"></i>
                                Odhlásit
                            </h2>
                        </a>
                    }
                </div>
            </div>

            @if (Model.Tabs.Admin.Display)
            {
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <div class="ui segment  w-link-segment">
                        <a href="@Url.Action("Admin", "Auth")">
                            <h2 class="ui center aligned icon header">
                                <i class="spy icon"></i>
                                Admin
                                @if (Model.Master.StatusBox.NewEventLogCount > 0)
                                {
                                    <span class="w-font-negative"> @Model.Master.StatusBox.NewEventLogCount </span>
                                }
                            </h2>
                        </a>
                    </div>
                </div>
            }
        </div>

        @RenderBody()
    }
    else
    {
        @RenderBody()
    }
</div>
