@using UI.Builders.Auth.Enum
@using UI.Modules.InfoMessage.Enums
@using UI.Modules.InfoMessage.Views
@model UI.Builders.Auth.Views.AuthMasterView

@{
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";

    // main menu is always enabled
    Model.Tabs.MainMenu.Display = true;

    // configure admin tab
    if (Model.Master.CurrentUser.Privilege == Core.Helpers.Privilege.PrivilegeLevel.Admin)
    {
        Model.Tabs.Admin.Display = true;
    }

    // get active menu item
    var activeMenuItem = Core.Helpers.EnumHelper.ParseEnum(Helpers.UrlHelper.CurrentAction, AuthMenuActionEnum.None);

    var messagesClass = activeMenuItem == AuthMenuActionEnum.CompanyTypeIndex || activeMenuItem == AuthMenuActionEnum.Conversation ? "active" : string.Empty;
    var internshipsClass = activeMenuItem == AuthMenuActionEnum.Internships || activeMenuItem == AuthMenuActionEnum.EditInternship ? "active" : string.Empty;
    var thesesClass = activeMenuItem == AuthMenuActionEnum.Theses || activeMenuItem == AuthMenuActionEnum.EditThesis ? "active" : string.Empty;
    var newInternshipClass = activeMenuItem == AuthMenuActionEnum.NewInternship ? "active" : string.Empty;
    var newThesisClass = activeMenuItem == AuthMenuActionEnum.NewThesis ? "active" : string.Empty;
    var editCompanyClass = activeMenuItem == AuthMenuActionEnum.EditCompany ? "active" : string.Empty;
    var registerCompanyClass = activeMenuItem == AuthMenuActionEnum.RegisterCompany ? "active" : string.Empty;
    var companyGalleryClass = activeMenuItem == AuthMenuActionEnum.CompanyGallery ? "active" : string.Empty;
    var editProfileClass = activeMenuItem == AuthMenuActionEnum.EditProfile ? "active" : string.Empty;
    var avatarClass = activeMenuItem == AuthMenuActionEnum.Avatar ? "active" : string.Empty;
    var questionnaireClass = activeMenuItem == AuthMenuActionEnum.Questionnaires || activeMenuItem == AuthMenuActionEnum.EditQuestionnaire ? "active" : string.Empty;
}

<h1>Company type TODO</h1>

@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authIndex")

<div class="ui grid w-auth-header-fix">
    <div class="six wide tablet only four wide computer only column">
        @foreach (var enabledTab in Model.Tabs.GetOrderedActiveTabs())
        {
            switch (enabledTab.Tab)
            {
                case AuthTabEnum.MainMenu:
                    <div class="ui vertical fluid menu">
                        <div class="item">
                            <div class="header">Hlavní menu</div>
                            <div class="menu">
                                <a class="item @messagesClass" href="@Url.Action("CompanyTypeIndex", "Auth")">
                                    @if (Model.Master.StatusBox.NewMessagesCount > 0)
                                    {
                                        <div class="ui small red label">@Model.Master.StatusBox.NewMessagesCount</div>
                                    }
                                    else
                                    {
                                        <div class="ui small label">0</div>
                                    }
                                    Zprávy
                                </a>
                                <a class="item @internshipsClass" href="@Url.Action("Internships", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Internships.Count()</div>
                                    Stáže
                                </a>
                                <a class="item @thesesClass" href="@Url.Action("Theses", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Theses.Count()</div>
                                    Závěrečné práce
                                </a>
                                <a class="item @questionnaireClass" href="@Url.Action("Questionnaires", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Questionnaires.Count()</div>
                                    Dotazníky
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Inzerce</div>
                            <div class="menu">
                                <a class="item @newInternshipClass" href="@Url.Action("NewInternship", "AuthCompany")">Nová stáž</a>
                                <a class="item @newThesisClass" href="@Url.Action("NewThesis", "AuthCompany")">Nová závěrečná práce</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Firma</div>
                            <div class="menu">
                                @if (Model.Master.CurrentCompany.IsAvailable)
                                {
                                    <a class="item @editCompanyClass" href="@Url.Action("EditCompany", "AuthCompany")">Upravit</a>
                                    <a class="item @companyGalleryClass" href="@Url.Action("CompanyGallery", "AuthCompany")">Galerie</a>
                                }
                                else
                                {
                                    <a class="item @registerCompanyClass" href="@Url.Action("RegisterCompany", "AuthCompany")">Registrovat firmu</a>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Profil</div>
                            <div class="menu">
                                <a class="item @editProfileClass" href="@Url.Action("EditProfile", "Auth")">Základní údaje</a>
                                <a class="item @avatarClass" href="@Url.Action("Avatar", "Auth")">Avatar</a>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "_MainLogoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="item" href="javascript:document.getElementById('_MainLogoutForm').submit()">
                                        <i class="sign out icon"></i>
                                        Odhlásit
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    break;
                case AuthTabEnum.Admin:
                    <div class="ui vertical fluid menu">
                        <div class="item">
                            <div class="header">Admin</div>
                            <div class="menu">
                                <a class="item" href="@Url.Action("EventLog", "System")">
                                    Eventy
                                    @if (Model.Master.StatusBox.NewEventLogCount > 0)
                                    {
                                        <span>| <span class="w-font-negative">@Model.Master.StatusBox.NewEventLogCount</span></span>
                                    }
                                </a>
                                <a class="item" href="@Url.Action("EmailLog", "System")">
                                    E-maily
                                </a>
                            </div>
                        </div>
                    </div>
                    break;
            }
        }
    </div>
    <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
        @*Display warning message indicating that other users can see user's e-mail address*@
        @{
            // EmailVisibleToOthers from AuthMaster has priority to fix editing user
            var emailVisible = Model.AuthMaster.EmailVisibleForPeople == null ? Model.Master.CurrentUser.EmailVisibleToOthers : Model.AuthMaster.EmailVisibleForPeople ?? false;
        }
        @if (emailVisible)
        {
            var infoMessage = new InfoMessageView()
            {
                MessageID = "emailnotice",
                Message = $"Ostatní uživatelé vidí část Vašeho e-mailu (bez domény) - <strong>'{Model.Master.CurrentUser.UserDisplayName}'</strong>. Pro úplné skrytí vyplňte <strong>Jméno</strong> nebo <strong>Přezdívku</strong> <a href=\"{Url.Action("EditProfile")}\">zde</a>",
                IsClosable = true,
                MessageType = InfoMessageTypeEnum.Warning,
                ClosedForDaysCount = 1
            };
            Html.RenderPartial("~/Views/Modules/InfoMessage/InfoMessage.cshtml", infoMessage);
        }
        @RenderBody()
    </div>
    <div class="sixteen wide mobile only column">
        @foreach (var enabledTab in Model.Tabs.GetOrderedActiveTabs())
        {
            switch (enabledTab.Tab)
            {
                case AuthTabEnum.MainMenu:
                    <div class="ui vertical fluid menu">
                        <div class="item">
                            <div class="header">Hlavní menu</div>
                            <div class="menu">
                                <a class="item @messagesClass" href="@Url.Action("CompanyTypeIndex", "Auth")">
                                    @if (Model.Master.StatusBox.NewMessagesCount > 0)
                                    {
                                        <div class="ui small red label">@Model.Master.StatusBox.NewMessagesCount</div>
                                    }
                                    else
                                    {
                                        <div class="ui small label">0</div>
                                    }
                                    Zprávy
                                </a>
                                <a class="item @internshipsClass" href="@Url.Action("Internships", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Internships.Count()</div>
                                    Stáže
                                </a>
                                <a class="item @thesesClass" href="@Url.Action("Theses", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Theses.Count()</div>
                                    Závěrečné práce
                                </a>
                                <a class="item @questionnaireClass" href="@Url.Action("Questionnaires", "AuthCompany")">
                                    <div class="ui small label">@Model.AuthMaster.CompanyMaster.Questionnaires.Count()</div>
                                    Dotazníky
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Inzerce</div>
                            <div class="menu">
                                <a class="item @newInternshipClass" href="@Url.Action("NewInternship", "AuthCompany")">Nová stáž</a>
                                <a class="item @newThesisClass" href="@Url.Action("NewThesis", "AuthCompany")">Nová závěrečná práce</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Firma</div>
                            <div class="menu">
                                @if (Model.Master.CurrentCompany.IsAvailable)
                                {
                                    <a class="item @editCompanyClass" href="@Url.Action("EditCompany", "AuthCompany")">Upravit</a>
                                    <a class="item @companyGalleryClass" href="@Url.Action("CompanyGallery", "AuthCompany")">Galerie</a>
                                }
                                else
                                {
                                    <a class="item @registerCompanyClass" href="@Url.Action("RegisterCompany", "AuthCompany")">Registrovat firmu</a>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="header">Profil</div>
                            <div class="menu">
                                <a class="item @editProfileClass" href="@Url.Action("EditProfile", "Auth")">Základní údaje</a>
                                <a class="item @avatarClass" href="@Url.Action("Avatar", "Auth")">Avatar</a>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "_MainLogoutForm_Mobile" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="item" href="javascript:document.getElementById('_MainLogoutForm_Mobile').submit()">
                                        <i class="sign out icon"></i>
                                        Odhlásit
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    break;
                case AuthTabEnum.Admin:
                    <div class="ui vertical fluid menu">
                        <div class="item">
                            <div class="header">Admin</div>
                            <div class="menu">
                                <a class="item" href="@Url.Action("EventLog", "System")">
                                    Eventy
                                    @if (Model.Master.StatusBox.NewEventLogCount > 0)
                                    {
                                        <span>| <span class="w-font-negative">@Model.Master.StatusBox.NewEventLogCount</span></span>
                                    }
                                </a>
                                <a class="item" href="@Url.Action("EmailLog", "System")">
                                    E-maily
                                </a>
                            </div>
                        </div>
                    </div>
                    break;
            }
        }
    </div>
</div>
