@using Core.Helpers;
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthConversationsView
@{
    Model.Metadata.BasicMetadata.Title = "Zprávy";
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}
@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authIndex")

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui vertical segment">
            @if (!Model.AuthMaster.ConversationsPaged.Any())
            {
                @Helpers.MessageHelper.RenderInfoMessage("Nemáš žádné zprávy")
            }
            else
            {
                <div class="ui items divided">
                    @foreach (var conversation in Model.AuthMaster.ConversationsPaged)
                    {
                        <div class="item w-auth-conversation-div w-override-padding-all _ConversationItem" data-link="@Url.Action("Conversation", "Auth", new { id = conversation.ConversationID })">
                            <a class="ui tiny image w-mobile-margin-0 w-mobile-hide" href="@Url.Action("Conversation", "Auth", new { id = conversation.ConversationID })">
                                <img alt="" class="ui image tiny" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetUserAvatar(conversation.WithApplicationUserId)">
                            </a>
                            <div class="content w-mobile-padding-0">
                                <a class="header" href="@Url.Action("Conversation", "Auth", new { id = conversation.ConversationID })">
                                    @conversation.WithApplicationDisplayName
                                </a>
                                <div class="meta w-font-size-small">
                                    <i class="calendar icon"></i>@DateHelper.FormatTime(conversation.MessageCreated) |
                                    @if (conversation.IsRead)
                                    {
                                        <i title="Přečteno" class="checkmark green icon"></i><span>přečteno</span>
                                    }
                                    else
                                    {
                                        if (!conversation.WrittenByCurrentUser)
                                        {
                                            <i title="Nová zpráva" class="talk red icon"></i><span class="w-font-negative">nová zpráva</span>
                                        }
                                        else
                                        {
                                            <i title="Nepřečteno" class="remove red icon"></i><span>nepřečteno</span>
                                        }
                                    }
                                    @(!string.IsNullOrEmpty(conversation.Subject) ? " | " + conversation.Subject : null)
                                </div>
                                <div class="description">
                                    <a class="w-auth-conversation-text-link" href="@Url.Action("Conversation", "Auth", new { id = conversation.ConversationID })">
                                        @StringHelper.ShortenText(conversation.MessageText, 200)
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @Helpers.PagerHelper.GetPager(Model.AuthMaster.ConversationsPaged)
            }
        </div>
    </div>
</div>
