@using Core.Helpers;
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthConversationView
@{
    Model.Metadata.BasicMetadata.Title = "Konverzace | " + Model.ConversationUser.DisplayName;
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Zprávy", Url.Action("Conversations", "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui vertical segment">
            @using (Html.BeginForm("Conversation", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("RecipientApplicationUserId", Model.ConversationUser.UserID)
                @Html.Hidden("CompanyID", Model.LastMessage?.CompanyID ?? 0)

                <h2 class="ui header w-margin-top-0">
                    <img alt="" data-src="@Helpers.ImageHelper.GetUserAvatar(Model.ConversationUser.UserID)" src="@Helpers.ImageHelper.GetTransparentImage()" class="ui image tiny">
                    @($"{Model.ConversationUser.DisplayName}")
                </h2>

                @Helpers.MessageHelper.RenderFormValidationResult(Model.MessageForm.FormResult.IsSuccess, "Odesláno")

                <div class="ui reply form">
                    <div class="field">
                        <textarea name="Message">@Model.MessageForm.Message</textarea>
                    </div>
                    <button class="ui blue labeled icon button">
                        <i class="icon edit"></i> Odeslat
                    </button>
                </div>
            }
            <div class="ui comments">
                @foreach (var message in Model.Messages)
                {
                    var segmentClass = message.WrittenByCurrentUser ? "" : "w-segment-dark basic";
                    var writtenByName = string.Empty;
                    if (message.WrittenByCurrentUser)
                    {
                        writtenByName = "Já";
                    }
                    else
                    {
                        writtenByName = Model.ConversationUser.DisplayName;
                    }

                    <div class="comment w-margin-top-14">
                        <a class="avatar">
                            <img class="ui image" alt="" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetUserAvatar(message.SenderApllicationUserId)">
                        </a>
                        <div class="content">
                            <a class="author">@writtenByName</a>
                            <div class="metadata">
                                <div class="date">
                                    @DateHelper.FormatDateAndTime(message.MessageCreated)
                                    @if (message.IsRead)
                                    {
                                        <i title="Přečteno" class="checkmark green icon"></i>
                                    }
                                    else
                                    {
                                        <i title="Nepřečteno" class="remove red icon"></i>
                                    }
                                </div>
                            </div>
                            <div class="text">
                                <p>@Html.Raw(Helpers.HtmlHelper.AddLineBreaks(message.MessageText))</p>
                                @if (message.AuthQuestionnaireSubmission != null)
                                {
                                    <p class="w-font-size-small">
                                        Dotazník @message.AuthQuestionnaireSubmission.QuestionnaireName vyplněn: 
                                        @if (message.AuthQuestionnaireSubmission.SuccessRate <= 50)
                                        {
                                            <span class="w-font-negative">@message.AuthQuestionnaireSubmission.SuccessRate %</span>
                                        }
                                        else
                                        {
                                            <span class="w-font-positive">@message.AuthQuestionnaireSubmission.SuccessRate %</span>
                                        }
                                        @* Display link only for recipient company *@
                                        @if (Model.Master.CurrentUser.IsCompany && Model.AuthMaster.CompanyMaster.Questionnaires.FirstOrDefault(m => m.ID == message.QuestionnaireSubmission.QuestionnaireID) != null)
                                        {
                                            <span>
                                                | <a target="_blank" href="@Url.Action("ViewSubmission", "AuthCompany", new { id = message.AuthQuestionnaireSubmission.QuestionnaireID, submissionId = message.AuthQuestionnaireSubmission.ID })">Zobrazit odpovědi</a>
                                            </span>
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

            @Helpers.PagerHelper.GetPager(Model.Messages)
        </div>
    </div>
</div>