@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Views.AuthEditProfileView

@{
    ViewBag.Title = "Upravit profil";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

@using (Html.BeginForm("EditProfile", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="ui grid">
        <div class="centered sixteen wide mobile sixteen wide tablet six wide computer column">
            <h1>
                @ViewBag.Title
            </h1>

            <div class="ui form">

                @Html.RenderFormValidationResult(Model.ProfileForm.FormResult.IsSuccess)

                <div class="field">
                    <label>Jméno</label>
                    <input name="FirstName" placeholder="" type="text" value="@Model.ProfileForm.FirstName">
                </div>

                <div class="field">
                    <label>Příjmení</label>
                    <input name="LastName" placeholder="" type="text" value="@Model.ProfileForm.LastName">
                </div>

                <button class="ui button submit primary" type="submit">
                    Uložit
                </button>
            </div>

        </div>
    </div>
}