@using UI.Helpers;
@using UI.Extensions;
@using Common.Helpers;
@using PagedList.Mvc
@model UI.Builders.Auth.Views.AuthIndexView

@{
    ViewBag.Title = "Můj profil";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

@Html.RequireScript("/scripts/views/auth/authIndex")

<div class="ui grid">
    <div class="sixteen wide mobile six wide tablet three wide computer column">
        <div class="ui segment padded w-body-text-center">
            <a href="@Url.Action("Avatar", "Auth")">
                <img alt="avatar" class="ui avatar tiny image" data-src="@ImageHelper.GetUserAvatar(Model.Master.CurrentUser.UserName)" src="@ImageHelper.GetTransparentImage()">
            </a>

            <p class="w-margin-top-10 w-font-bold">
                @Model.Master.CurrentUser.FirstName @Model.Master.CurrentUser.LastName
            </p>

            <p class="w-font-size-small">
                <a href="@Url.Action("EditProfile", "Auth")">Upravit profil</a>
            </p>
            <p class="w-font-size-small">
                <a href="@Url.Action("Avatar", "Auth")">Nahrát avatar</a>
            </p>
        </div>

    </div>
    <div class="sixteen wide mobile ten wide tablet nine wide computer column">

        <div class="ui secondary pointing menu w-auth-menu">
            <a class="item active" data-tab="first">
                Zprávy
            </a>
            <a class="item" data-tab="second">
                Vystavené nabídky
            </a>
            <div class="right menu">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="ui item" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="sign out icon"></i>
                        Odhlásit
                    </a>
                }

            </div>
        </div>

        <div class="ui tab segment active" data-tab="first">

            @if (Model.Messages.Count() == 0)
            {
                @Html.RenderInfoMessage("Žádné zprávy nebyly nalezeny")
            }
            else
            {
                <div class="ui items divided">
                    @foreach (var message in Model.Messages)
                    {
                        <div class="item">
                            <a class="ui tiny image" href="@Url.Action("Conversation", new { id = message.ConversationID })">
                                <img class="ui tiny image" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetUserAvatar(message.SenderApplicationUserName)">
                            </a>
                            <div class="content">
                                <a class="header" href="@Url.Action("Conversation", new { id = message.ConversationID })">
                                    @if (message.WrittenByCurrentUser)
                                    {
                                        <span>Já</span>
                                    }
                                    else
                                    {
                                        <span>Od @(!string.IsNullOrEmpty(message.SenderFirstName) ? message.SenderFirstName + " " + message.SenderLastName : message.SenderApplicationUserName)</span>
                                    }
                                </a>
                                <div class="meta w-font-size-small">
                                    <i class="calendar icon"></i>@DateHelper.GetPrettyDate(message.MessageCreated) | 
                                    @if (message.IsRead)
                                    {
                                        <i title="Přečteno" class="checkmark green icon"></i><span>přečteno</span>
                                    }
                                    else
                                    {
                                        <i title="Nepřečteno" class="remove red icon"></i><span>nepřečteno</span>
                                    }
                                    @(!string.IsNullOrEmpty(message.Subject) ? " | " + message.Subject : null)
                                </div>
                                <div class="description">
                                    <p>
                                        @StringHelper.ShortenText(message.MessageText, 200, true)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                if (Model.Messages.PageCount > 1)
                {
                    @Html.PagedListPager(Model.Messages, page => Url.Action("Index", "Auth", new { page }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 6 })
                }
}
        </div>

        <div class="ui tab segment" data-tab="second">

            @if (Model.Master.CurrentCompany.IsCreated)
            {
                if (Model.Internships.Count() == 0)
                {
                    @Html.RenderInfoMessage("Dosud nebyly vystaveny žádné nabídky")
                }
                else
                {
                    <table class="ui very basic table">
                        <tbody>
                            @foreach (var internship in Model.Internships)
                            {
                                <tr>
                                    <td class="collapsing w-body-text-right w-mobile-left">
                                        @if (internship.IsActive)
                                        {
                                            <i title="Aktivní" class="checkmark green icon"></i>
                                        }
                                        else
                                        {
                                            <i title="Neaktivní" class="remove red icon"></i>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Internship", new { id = internship.ID })">
                                            @internship.Title
                                        </a>
                                    </td>
                                    <td class="collapsing w-mobile-left w-tablet-hide w-font-size-small">
                                        <i class="calendar icon"></i>
                                        @internship.Created.ToShortDateString()
                                    </td>
                                    <td class="collapsing w-body-text-right w-mobile-left">
                                        <a href="@Url.Action("EditInternship", new { id = internship.ID })">
                                            <div class="ui button secondary">
                                                Upravit
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            else
            {
                @Html.RenderInfoMessage("Pro přidání inzerátu musíte vytvořit firmu")
            }
        </div>
    </div>
    <div class="sixteen wide mobile sixteen wide tablet four wide computer column w-body-text-right">

        <div class="ui segment basic">
            <a class="ui primary fluid button" href="@Url.Action("NewInternship", "Auth")">
                Přidat stáž
            </a>

            @if (!Model.Master.CurrentCompany.IsCreated)
            {
                <a class="ui primary fluid button w-margin-top-10" href="@Url.Action("RegisterCompany", "Auth")">
                    Přidat firmu
                </a>
            }

        </div>

        @if (Model.Master.CurrentCompany.IsCreated)
            {
            <div class="ui segment padded w-body-text-center">

                <img class="ui image tiny w-image-center" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(Model.Master.CurrentCompany.CompanyID)" />

                <p class="w-margin-top-10 w-font-bold">
                    @Model.Master.CurrentCompany.CompanyName
                </p>

                <a class="w-font-size-small" href="@Url.Action("EditCompany", "Auth")">
                    Upravit firmu
                </a>
            </div>
        }
    </div>
</div>
