@model UI.Builders.Internship.Views.InternshipBrowseView
@using Core.Helpers;
@using UI.Extensions;
@using UI.Builders.Shared.Enums
@{
    Model.Metadata.BasicMetadata.Title = "Nabídka stáží";
    Model.Metadata.BasicMetadata.Description = "Najdi si stáž z uvedené nabídky a pracuj pro svou oblíbenou IT nebo technologickou firmu. Nauč se nové technologie nebo se zdokonal v tom, co znáš a poznej jak to chodí v praxi.";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";

    var currentCategory = Helpers.UrlHelper.GetRouteParam("category", string.Empty) ?? string.Empty;

    var searchVal = Helpers.UrlHelper.GetQueryString("search", string.Empty);
    var cityVal = Helpers.UrlHelper.GetQueryString("city", string.Empty);

    var totalInternshipCount = Model.InternshipCategories.Sum(m => m.InternshipCount);

    //header
    Model.Master.UiHeader.SetHeader(UiHeaderType.Green, Model.Metadata.BasicMetadata.Title);
}

@Html.RequireScript("/scripts/views/internship/browseInternships")

@using (Html.BeginForm("Search", "Internships", FormMethod.Get, null))
{
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui segment padded">
                <div class="ui grid">
                    <div class="sixteen wide mobile seven wide tablet seven wide computer column">
                        <div class="ui search _InternshipTitleAutocomplete">
                            <div class="ui fluid icon input">
                                <input class="prompt" name="search" placeholder="Klíčové slovo ..." type="text" value="@searchVal" autocomplete="off">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile seven wide tablet seven wide computer column">
                        <div class="ui search _CitiesAutocomplete">
                            <div class="ui fluid icon input">
                                <input class="prompt" name="city" placeholder="Město" type="text" value="@cityVal" autocomplete="off">
                                <i class="world icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile two wide tablet two wide computer column">
                        <button class="ui button primary fluid" type="submit">
                            Hledat
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="five wide tablet only four wide computer only column">
            <div class="ui padded segment">
                <div class="ui secondary vertical pointing menu w-internship-category-menu ">
                    @if (string.IsNullOrEmpty(currentCategory))
                    {
                        <a href="@Url.Action("Index", new { category = "", page = "" })" class="active item">
                            Všechny nabídky
                            <span class="w-body-float-right">@totalInternshipCount</span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { category = "", page = "" })" class="item">
                            Všechny nabídky
                            <span class="w-body-float-right">@totalInternshipCount</span>
                        </a>
                    }

                    @foreach (var category in Model.InternshipCategories)
                    {
                    if (currentCategory.Equals(category.CodeName, StringComparison.OrdinalIgnoreCase))
                    {
                            <a href="@Url.Action("Index", new { category = category.CodeName })" class="active item">
                                @category.CategoryName
                                <span class="w-font-bold w-body-float-right">@category.InternshipCount</span>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", new { category = category.CodeName })" class="item">
                                @category.CategoryName
                                <span class="w-body-float-right">@category.InternshipCount</span>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
            <div class="ui padded segment">

                @if (!Model.Internships.Any())
                {
                    @Html.RenderWarningMessage("Žádné stáže nebyly nalezeny")
                }
                else
                {
                    <table class="ui very basic table w-table-listing _InternshipsListingTable">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Pozice
                            </th>
                            <th>
                                Město
                            </th>
                            <th>
                                Délka stáže
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var internship in Model.Internships)
                        {
                            <tr data-link="@Url.Action("Index", "Internship", new {id = internship.ID, codename = internship.CodeName})">
                                <td class="collapsing">
                                    <img class="ui mini image" alt="@internship.Title" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyLogo(internship.CompanyGuid)"/>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Internship", new {id = internship.ID, codename = internship.CodeName})">
                                        @internship.Title
                                    </a>
                                    <span class="w-font-size-small w-font-light">(@CurrencyHelper.DisplayCurrencyValue(internship.Amount, internship.CurrencyName, internship.CurrencyShowSignOnLeft) / @internship.AmountTypeName)</span>
                                </td>
                                <td>
                                    @Html.Raw(Helpers.CountryHelper.GetCountryIcon(internship.CountryCode)) @internship.City
                                </td>
                                <td class="collapsing w-body-text-right w-mobile-left">
                                    @InternshipHelper.GetInternshipDurationDisplayValue(internship.MinDurationType, internship.MinDurationDefaultValue, internship.MaxDurationType, internship.MaxDurationDefaultValue)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div class="w-margin-top-10">
                        @Helpers.PagerHelper.GetPager(Model.Internships, page => Url.Action(Helpers.UrlHelper.CurrentAction, Helpers.UrlHelper.CurrentController, new { page, search = searchVal, city = cityVal }))
                    </div>
                }
            </div>
        </div>
    </div>
}





