@model UI.Builders.Internship.Views.InternshipBrowseView
@using UI.Helpers;
@using Common.Helpers;
@using UI.Extensions;
@{
    ViewBag.Title = "Nabídka stáží";
    ViewBag.Description = "Najdi si stáž z uvedené nabídky a pracuj pro svou oblíbenou IT nebo technologickou firmu. Nauč se nové technologie nebo se zdokonal v tom, co znáš a poznej jak to chodí v praxi.";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";

    var currentCategory = ViewContext.RouteData.Values["category"] != null ? ViewContext.RouteData.Values["category"].ToString() : string.Empty;
    var searchVal = HttpContext.Current.Request.QueryString["search"] ?? string.Empty;
    var cityVal = HttpContext.Current.Request.QueryString["city"] ?? string.Empty;
}

@Html.RequireScript("/scripts/views/internship/browseInternships")

@using (Html.BeginForm("Index", "Internships", FormMethod.Get, null))
{
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1>
                @ViewBag.Title
            </h1>
        </div>

        <div class="eight wide mobile seven wide tablet seven wide computer column">

            <div class="ui fluid icon input">
                <i class="search icon"></i>
                <input name="search" placeholder="Klíčové slovo ..." type="text" value="@searchVal">
            </div>
        </div>
        <div class="eight wide mobile seven wide tablet seven wide computer column">
            <div class="ui fluid icon input">
                <i class="world icon"></i>
                <input name="city" placeholder="Město" type="text" value="@cityVal">
            </div>
        </div>
        <div class="sixteen wide mobile two wide tablet two wide computer column">
            <button class="ui button submit primary" type="submit">
                Hledat
            </button>
        </div>

        <div class="five wide tablet only four wide computer only column">
            <div class="ui secondary vertical pointing menu w-internship-category-menu ">
                @if (string.IsNullOrEmpty(currentCategory))
                {
                    <a href="@Url.Action("Index", new { category = "" })" class="active item">
                        Všechny nabídky
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", new { category = "" })" class="item">
                        Všechny nabídky
                    </a>
                }

                @foreach (var category in Model.InternshipCategories)
                {
                    if (currentCategory.Equals(category.CodeName, StringComparison.OrdinalIgnoreCase))
                    {
                        <a href="@Url.Action("Index", new { category = category.CodeName })" class="active item">
                            @category.CategoryName
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { category = category.CodeName })" class="item">
                            @category.CategoryName
                        </a>
                    }
                }
            </div>
        </div>
        <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
            <div class="ui segment">

                @if (Model.Internships.Count() == 0)
                {
                    @Html.RenderWarningMessage("Žádné stáže nebyly nalezeny")
                }

                <table class="ui very basic table w-table-listing">
                    <tbody>
                        @foreach (var internship in Model.Internships)
                        {
                            <tr data-link="@Url.Action("Index", "Internship", new { id = internship.ID, codename = internship.CodeName })">
                                <td class="collapsing">
                                    <img class="ui tiny image" alt="@internship.Title" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(internship.CompanyID)" />
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Internship", new { id = internship.ID, codename = internship.CodeName })">
                                        @internship.Title
                                    </a>
                                    <span class="w-font-size-small w-font-light">(@CurrencyHelper.DisplayCurrencyValue(internship.Amount, internship.CurrencyName, internship.CurrencyShowSignOnLeft) / @internship.AmountTypeName)</span>
                                </td>
                                <td>
                                    @Html.Raw(CountryHelper.GetCountryIcon(internship.CountryCode)) @internship.City
                                </td>
                                <td class="collapsing w-body-text-right w-mobile-left">
                                    @InternshipHelper.GetInternshipDurationDisplayValue(internship.MinDurationType, internship.MinDurationDefaultValue, internship.MaxDurationType, internship.MaxDurationDefaultValue)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}





