@model UI.Builders.Form.Views.FormThesisView
@using UI.Helpers;
@using UI.Extensions;
@{
    Model.Metadata.BasicMetadata.Title = $"Zájem | {Model.Thesis.ThesisName}";
    Model.Metadata.BasicMetadata.Description = $"Zájem o závěrečnou práci {Model.Thesis.ThesisName} u firmy {Model.Thesis.CompanyName}";
    Layout = "~/Views/Shared/Body/Dark.cshtml";

}

<div class="w-padding-bottom-30">

    <div class="ui container w-margin-top-20">
        <div class="ui grid">
            <div class="sixteen wide column">
                <img alt="@Model.Thesis.CompanyName banner" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyBanner(Model.Thesis.CompanyGuid)" class="ui image fluid w-company-detail-banner" />
            </div>
        </div>
    </div>

    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <h1>
                    Zájem o <span class="ui header w-color-secondary">@Model.Thesis.ThesisName</span> <span class="w-font-size-small">(@Model.Thesis.ThesisTypeNameConverted)</span>
                </h1>

                @using (Html.BeginForm("Thesis", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()

                    @Html.RenderFormValidationResult(Model.ThesisForm.FormResult.IsSuccess, "Zpráva byla odeslána")

                    @Html.Hidden("ThesisID", Model.Thesis.ID)

                    if (!Model.ThesisForm.FormResult.IsSuccess)
                    {
                        <p>
                            U firmy <a href="@Url.Action("Index", "Company", new { codeName = Model.Thesis.CompanyCodeName})">@Model.Thesis.CompanyName</a>
                        </p>

                            <div class="ui reply form">
                                <div class="field">
                                    <textarea name="Message" @Model.ThesisForm.Message></textarea>
                                </div>

                                <button class="ui button submit primary" type="submit">
                                    Odeslat
                                </button>
                            </div>
                    }
                    else
                    {
                        <div class="ui segment padded">
                            <p>
                                Historii zpráv lze nalézt v <a href="@Url.Action("Index", "Auth")">profilu</a>
                            </p>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
