@using Core.Config
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.CompanyGalleryView
@{
    Model.Metadata.BasicMetadata.Title = "Firemní galerie";
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authCompanyGallery")

<div class="w-body-hide" id="_CompanyGalleryConfig" data-guid="@Model.Master.CurrentCompany.CompanyGuid"></div>

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Firma", Url.Action("EditCompany", "AuthCompany")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>

@if (Model.Master.CurrentCompany.IsAvailable)
{
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            @Helpers.MessageHelper.RenderInfoMessage($"Pouze soubory typu <em>{string.Join(", ", Core.Config.FileConfig.AllowedImageExtensions)} </em> do velikosti <em>{Core.Helpers.ConvertHelper.FormatBytes(Core.Config.AppConfig.MaximumFileSize)}</em> budou uloženy")

            @Helpers.UploadHelper.RenderFineUploader("_CompanyGalleryUploader", Url.Action("CompanyGallery", "Upload"), FileConfig.AllowedImageExtensions.ToList(), 10, AppConfig.MaximumFileSize)

            <div class="ui three column grid _CompanyGalleryCards w-margin-top-14">
                @foreach (var image in Helpers.ImageHelper.GetCompanyGalleryImages(Model.Master.CurrentCompany.CompanyGuid))
                {
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button _DeleteGallery" data-filename="@image.Key">Smazat</div>
                                        </div>
                                    </div>
                                </div>
                                <img alt="" src="@image.Value">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Nahrát galerii lze pouze po zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}
