@using Core.Helpers;
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthCompanyTypeIndexView
@{
    Model.Metadata.BasicMetadata.Title = "Stáže";
    Layout = Model.AuthMaster.AuthMasterLayout;
}
@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authInternships")
@Helpers.ModalHelper.RenderDeleteModal("_DeleteModal", "Smazat stáž", "Opravdu chcete smazat vybranou stáž?")

<div class="ui grid">
    <div class="sixteen wide mobile eight wide computer eight wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.AuthMaster.AuthMasterAction, "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
    <div class="sixteen wide mobile eight wide computer eight wide tablet column right aligned">
        <a href="@Url.Action("NewInternship", "AuthCompany")">
            <div class="ui button primary w-mobile-block">Vytvořit stáž</div>
        </a>
    </div>
</div>


<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            @if (Model.Master.CurrentCompany.IsAvailable)
            {
                if (!Model.AuthMaster.CompanyMaster.Internships.Any())
                {
                    @Helpers.MessageHelper.RenderInfoMessage("Dosud nebyly vystaveny žádné nabídky stáže")
                }
                else
                {
                    <table class="ui very basic table">
                        <thead>
                            <tr>
                                <th>
                                    Akce
                                </th>
                                <th>
                                    Název stáže
                                </th>
                                <th>
                                    Vytvořeno
                                </th>
                                <th>
                                    Aktivní
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var internship in Model.AuthMaster.CompanyMaster.Internships)
                            {
                                <tr>
                                    <td class="collapsing w-body-text-center w-mobile-left">
                                        @Helpers.ActionHelper.RenderEditButton("EditInternship", "AuthCompany", new { id = internship.ID })
                                        @Helpers.ActionHelper.RenderDeleteButton(internship.ID, "_DeleteInternshipButton")
                                        @if (internship.IsActive)
                                        {
                                            @Helpers.ActionHelper.RenderViewButton("Index", "Internship", new { id = internship.ID, codeName = internship.CodeName })
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditInternship", "AuthCompany", new {id = internship.ID})">
                                            @internship.Title
                                        </a>
                                    </td>
                                    <td class="collapsing w-mobile-left w-tablet-hide w-font-size-small">
                                        <i title="Vytvořeno" class="calendar icon"></i>
                                        @DateHelper.FormatDate(internship.Created)
                                    </td>
                                    <td class="collapsing w-body-text-right w-mobile-left">
                                        @if (internship.IsActive)
                                        {
                                            <i title="Aktivní" class="checkmark green icon"></i>
                                        }
                                        else
                                        {
                                            <i title="Neaktivní" class="remove red icon"></i>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            else
            {
                @Helpers.MessageHelper.RenderInfoMessage($"Pro přidání stáže musíš prvně <a href=\"{Url.Action("RegisterCompany", "AuthCompany")}\">zaregistrovat</a> firmu")
            }
        </div>
    </div>
</div>
