@using Core.Helpers;
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthQuestionnaireSubmissionsView

@{
    Model.Metadata.BasicMetadata.Title = "Data";
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Dotazníky", Url.Action("Questionnaires", "AuthCompany")),
            new BreadcrumbItem(Model.QuestionnaireName, Url.Action("EditQuestionnaire", "AuthCompany", new { id = Model.QuestionnaireID} )),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>


<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            
                @if (!Model.SubmissionsPaged.Any())
                {
                    @Helpers.MessageHelper.RenderInfoMessage("Dotazník dosud nebyl vyplněn")
                }
                else
                {
                    <table class="ui very basic table">
                        <thead>
                            <tr>
                                <th class="collapsing">
                                    Akce
                                </th>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Vyplněno
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var submission in Model.SubmissionsPaged)
                            {
                                <tr>
                                    <td class="collapsing w-body-text-center w-mobile-left">
                                        <a href="@Url.Action("ViewSubmission", "AuthCompany", new {id = submission.QuestionnaireID, submissionid = submission.ID})">Zobrazit odpovědi</a>
                                    </td>
                                    <td>
                                        @Helpers.UserHelper.GetDisplayName(submission.CreatedByFirstName, submission.CreatedByLastName, submission.CreatedByNickname, submission.CreatedByApplicationUserName)
                                    </td>
                                    <td class="collapsing w-mobile-left w-tablet-hide w-font-size-small">
                                        <i title="Vytvořeno" class="calendar icon"></i>
                                        @DateHelper.FormatDateAndTime(submission.Created)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
        </div>
    </div>
</div>
