@using Core.Helpers;
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthCompanyTypeIndexView

@{
    Model.Metadata.BasicMetadata.Title = "Moje závěrečné práce";
    Layout = Model.AuthMaster.AuthMasterLayout;
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/auth/authTheses")

@Helpers.ModalHelper.RenderDeleteModal("_DeleteModal", "Smazat práci", "Opravdu chcete smazat vybranou závěrečnou práci?")

<div class="ui grid">
    <div class="sixteen wide mobile eight wide computer eight wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.AuthMaster.AuthMasterAction, "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
    <div class="sixteen wide mobile eight wide computer eight wide tablet column right aligned">
        <a href="@Url.Action("NewThesis", "AuthCompany")">
            <div class="ui button primary">Nová závěrečná práce</div>
        </a>
    </div>
</div>

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">

            @if (!Model.AuthMaster.CompanyMaster.Theses.Any())
            {
                @Helpers.MessageHelper.RenderInfoMessage("Dosud nebyly vystaveny žádné práce")
            }
            else
            {
                <table class="ui very basic table">
                    <thead>
                    <tr>
                        <th>
                            Akce
                        </th>
                        <th>
                            Název práce
                        </th>
                        <th>
                            Vytvořeno
                        </th>
                        <th>
                            Aktivní
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var thesis in Model.AuthMaster.CompanyMaster.Theses)
                    {
                        <tr>
                            <td class="collapsing w-body-text-center w-mobile-left">
                                @Helpers.ActionHelper.RenderEditButton("EditThesis", "AuthCompany", new { id = thesis.ID })
                                @Helpers.ActionHelper.RenderDeleteButton(thesis.ID, "_DeleteThesisButton")
                                @if (thesis.IsActive)
                                {
                                    @Helpers.ActionHelper.RenderViewButton("Index", "Thesis", new { id = thesis.ID, codeName = thesis.CodeName })
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("EditThesis", "AuthCompany", new {id = thesis.ID })">
                                    @thesis.ThesisName
                                </a>
                            </td>
                            <td class="collapsing w-mobile-left w-tablet-hide w-font-size-small">
                                <i class="calendar icon"></i>
                                @DateHelper.FormatDate(thesis.Created)
                            </td>
                            <td class="collapsing w-body-text-right w-mobile-left">
                                @if (thesis.IsActive)
                                {
                                    <i title="Aktivní" class="checkmark green icon"></i>
                                }
                                else
                                {
                                    <i title="Neaktivní" class="remove red icon"></i>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
