@using Core.Helpers
@using Service.Services.Questionnaires
@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthSubmissionView
@{
    var displayUserName = Helpers.UserHelper.GetDisplayName(Model.Submission.CreatedByFirstName, Model.Submission.CreatedByLastName, Model.Submission.CreatedByNickname, Model.Submission.CreatedByApplicationUserName);
    Model.Metadata.BasicMetadata.Title = "Dotazník | " + displayUserName;
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Dotazníky", Url.Action("Questionnaires", "AuthCompany")),
            new BreadcrumbItem(Model.QuestionnaireName, Url.Action("EditQuestionnaire", "AuthCompany", new { id = Model.QuestionnaireID} )),
            new BreadcrumbItem("Data", Url.Action("QuestionnaireSubmissions", "AuthCompany", new { id = Model.QuestionnaireID} )),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            <table class="ui very basic table">
                <tbody>
                    <tr>
                        <td>Dotazník:</td>
                        <td><strong>@Model.QuestionnaireName</strong></td>
                    </tr>
                    <tr>
                        <td>Vyplnil:</td>
                        <td><strong>@displayUserName</strong></td>
                    </tr>
                    <tr>
                        <td class="collapsing">Datum vyplnění:</td>
                        <td><strong>@DateHelper.FormatDateAndTime(Model.Submission.Created)</strong></td>
                    </tr>
                    @if (Model.QuestionsWithCorrectAnswerCount > 0)
                    {
                        <tr>
                            <td colspan="2">
                                <a class="ui green  label">@Model.CorrectlyAnsweredQuestionsCount správných odpovědí</a>
                                /
                                <a class="ui red label">@Model.WronglyAnsweredQuestionsCount špatných odpovědí</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            @for (int i = 0; i < Model.Submission.Questions.Count; i++)
            {
                var question = Model.Submission.Questions[i];

                <div class="ui segment">
                    <div class="ui top attached label teal">@(i + 1).</div>
                    <table class="ui very basic table">
                        <tbody>
                            <tr>
                                <td>Otázka:</td>
                                <td><strong>@question.QuestionText</strong></td>
                            </tr>
                            <tr>
                                <td class="collapsing">Odpověď:</td>
                                <td><strong>@question.Answer</strong></td>
                            </tr>
                            @if (question.Result != QuestionAnswerResultEnum.NotATestQuestion)
                            {
                                <tr>
                                    <td>
                                        Výsledek:
                                    </td>
                                    <td>
                                        @if (question.Result == QuestionAnswerResultEnum.Correct)
                                        {
                                            <a class="ui green label">Správně</a>
                                        }
                                        else
                                        {
                                            <a class="ui red label">Špatně</a>
                                        }
                                    </td>
                                </tr>
                                if (question.Result == QuestionAnswerResultEnum.Wrong)
                                {
                                    <tr>
                                        <td>
                                            Správná odpověď:
                                        </td>
                                        <td>
                                            <strong>@question.CorrectAnswer</strong>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
