@model UI.Builders.Internship.Views.InternshipDetailView
@using UI.Helpers;
@using Core.Helpers;
@using UI.Builders.Gallery.Views;
@using UI.Extensions;
@using UI.Builders.Gallery.Models;
@{
    ViewBag.Title = $"{Model.Internship.Title} | Stáž";
    ViewBag.Description = $"Informace o stáži {Model.Internship.Title} u firmy {Model.Internship.Company.CompanyName}";
    Layout = "~/Views/Shared/Body/Dark.cshtml";

    // get gallery images
    var galleryImages = ImageHelper.GetCompanyGalleryImages(Model.Internship.Company.CompanyGuid).Select(m => new GalleryImage()
    {
        Url = m.Value
    });
}

@Html.RequireScript("/scripts/views/internship/detail")

<div class="ui container w-margin-top-14">
    <div class="ui grid">
        <div class="sixteen wide column w-padding-bottom-0">
            <a href="@Url.Action("Index", "Company", new { codeName = Model.Internship.Company.CompanyCodeName })">
                <img alt="@Model.Internship.Company.CompanyName banner" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid)" class="ui image fluid w-internship-detail-banner" />
            </a>
        </div>
    </div>
</div>

<div id="_InternshipMenuWrapper" class="w-internship-fixed-wrapper">
    <div class="ui container">
        <div class="ui vertical segment w-internship-menu-wrapper">
            <img alt="Company logo" class="ui mini image w-internship-icon" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(Model.Internship.Company.CompanyGuid)">

            <h1>
                @Model.Internship.Title
            </h1>

            <div class="w-internship-menu-right">
                <a href="@Url.Action("Internship", "Form", new { id = Model.Internship.ID, codeName = Model.Internship.CodeName })">
                    <div class="ui button secondary">
                        Odpovědět
                    </div>
                </a>
            </div>
            
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container w-margin-top-20 w-padding-bottom-30">
    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                
                @if (Model.Internship.ActivityStats.InternshipSubmissionsCount > 0)
                {
                    <div class="ui red label left ribbon">@StringHelper.GetPluralWord(Model.Internship.ActivityStats.InternshipSubmissionsCount, "-", "1 zájemce", "{count} zájemci", "již {count} zájemců")</div>
                }

                <div class="w-body-text-center">
                    <div class="ui horizontal list">
                        <div class="item">
                            <div class="content">
                                @Html.RenderIcon("home") <a href="@Url.Action("Index", "Company", new {codeName = Model.Internship.Company.CompanyCodeName})">
                                    @Model.Internship.Company.CompanyName
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Html.Raw(CountryHelper.GetCountryIcon(Model.Internship.CountryCode)) @Model.Internship.CountryName
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Html.RenderIcon("marker") @Model.Internship.City
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @if (Model.Internship.IsPaid)
                                {
                                    @Html.RenderIcon("money green")
                                    <span>@(CurrencyHelper.DisplayCurrencyValue(Model.Internship.Amount, Model.Internship.CurrencyName, Model.Internship.CurrencyShowSignOnLeft)) / @Model.Internship.AmountTypeName</span>
                                }
                                else
                                {
                                    @Html.RenderIcon("money red")
                                    <span>Neplaceno</span>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Html.RenderIcon("calendar") Nástup od @DateHelper.FormatDate(Model.Internship.StartDate)
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @if (Model.Internship.HasFlexibleHours)
                                {
                                    @Html.RenderIcon("wait")
                                    <span>Flexibilní pracovní doba <i class="checkmark green icon"></i></span>
                                }
                                else
                                {
                                    @Html.RenderIcon("wait")
                                    <span>@Model.Internship.WorkingHours</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-margin-top-30">

                    <div class="w-body-text-center">
                        <div class="ui button teal large w-override-no-button">
                            Délka: @InternshipHelper.GetInternshipDurationDisplayValue(Model.Internship.MinDurationType, Model.Internship.MinDurationInDefaultValue, Model.Internship.MaxDurationType, Model.Internship.MaxDurationInDefaultValue)
                        </div>
                    </div>

                    <div class="w-margin-top-30">

                        @Html.Raw(Model.Internship.Description)

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="ui segment w-margin-top-30 w-body-text-center">
        <h2>
            Požadavky
        </h2>

        <div class="ui equal width grid ">
            <div class="computer only column">
                <h3>
                    Jazyk
                </h3>
                <div class="ui list">
                    @foreach (var requiredLanguage in Model.Internship.RequiredLanguages)
                    {
                        <div class="item">
                            <div class="content">
                                @Html.Raw(CountryHelper.GetCountryIcon(requiredLanguage.IconClass))
                                @requiredLanguage.LanguageName
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="computer only column">
                <h3>
                    Student
                </h3>
                <p>
                    @Html.RenderIcon(Model.Internship.StudentStatusOption.IconClass) @Model.Internship.StudentStatusOption.StudentStatusName
                </p>
            </div>
            <div class="computer only column">
                <h3>
                    Home office
                </h3>
                <p>
                    @Html.RenderIcon(Model.Internship.StudentStatusOption.IconClass) @Model.Internship.HomeOfficeOption.HomeOfficeName
                </p>
            </div>
        </div>
        <div class="ui grid">
            <div class="tablet only mobile only sixteen wide mobile eight wide tablet column">
                <div class="ui list">
                    @foreach (var requiredLanguage in Model.Internship.RequiredLanguages)
                    {
                        <div class="item">
                            <div class="content">
                                @Html.Raw(CountryHelper.GetCountryIcon(requiredLanguage.IconClass))
                                @requiredLanguage.LanguageName
                            </div>
                        </div>
                    }
                </div>
                <div class="tablet only mobile only sixteen wide mobile eight wide tablet column">
                    <h3>
                        Student
                    </h3>
                    <p>
                        @Html.RenderIcon(Model.Internship.StudentStatusOption.IconClass) @Model.Internship.StudentStatusOption.StudentStatusName
                    </p>
                </div>
                <div class="tablet only mobile only sixteen wide mobile sixteen wide tablet column">
                    <h3>
                        Home office
                    </h3>
                    <p>
                        @Html.RenderIcon(Model.Internship.StudentStatusOption.IconClass) @Model.Internship.HomeOfficeOption.HomeOfficeName
                    </p>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Internship.Requirements))
            {
                
                <div class="w-margin-top-14 w-body-text-left">
                    <p>
                        @Html.Raw(Model.Internship.Requirements)
                    </p>
                </div>
            }
        </div>
    </div>

    @if (galleryImages.Any())
    {
        <div class="ui segment w-margin-top-30">
            @Html.Partial("~/Views/Gallery/Base.cshtml", new GalleryView()
       {
           GalleryID = "_CompanyGallery",
           Images = galleryImages
       })
        </div>
    }

    <div class="ui segment">
        <div class="ui grid">

            <div class="sixteen wide mobile six wide tablet four wide computer column">
                <h2>
                    O firmě
                </h2>
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            @Html.RenderIcon("building")
                            <a href="@Url.Action("Index", "Company", new { codeName = Model.Internship.Company.CompanyCodeName })">
                                @Model.Internship.Company.CompanyName
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            @Html.RenderIcon("map") @Model.Internship.Company.City, @Model.Internship.Company.Address
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            @Html.Raw(CountryHelper.GetCountryIcon(Model.Internship.Company.CountryCode)) @Model.Internship.Company.CountryName
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            @Html.RenderIcon("idea") Založeno @Model.Internship.Company.YearFounded
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            @Html.RenderIcon("users") <span>@Model.Internship.Company.CompanySizeName zaměstnanců</span>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Internship.Company.Web))
                    {
                        <div class="item">
                            <div class="content">
                                @Html.RenderIcon("laptop")
                                <a href="@Model.Internship.Company.Web">
                                    @Model.Internship.Company.Web
                                </a>
                            </div>
                        </div>
                    }
                </div>

                <div class="w-company-social-icons">

                    @if (!string.IsNullOrEmpty(Model.Internship.Company.Facebook))
                    {
                        <a href="@Model.Internship.Company.Facebook">
                            @Html.RenderIcon("facebook large w-color-facebook")
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Internship.Company.Twitter))
                    {
                        <a href="@Model.Internship.Company.Twitter">
                            @Html.RenderIcon("twitter large w-color-twitter")
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Internship.Company.LinkedIn))
                    {
                        <a href="@Model.Internship.Company.LinkedIn">
                            @Html.RenderIcon("linkedin large w-color-linkedin")
                        </a>
                    }
                </div>

            </div>

            <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
                @Html.Partial("~/Views/GoogleMaps/GoogleMap.cshtml",
                    new UI.Builders.GoogleMaps.Views.GoogleMapView()
                    {
                        Zoom = 15,
                        Lat = Model.Internship.Company.Lat,
                        Lng = Model.Internship.Company.Lng,
                        MarkerTitle = Model.Internship.Company.CompanyName
                    })
            </div>
        </div>
    </div>
</div>
