@model UI.Builders.Internship.Views.InternshipDetailView
@using Core.Helpers;
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.CompanyGallery.Models
@using UI.Modules.CompanyGallery.Views
@using UI.Modules.Header
@{
    Model.Metadata.BasicMetadata.Title = $"{Model.Internship.Title} | Stáž";
    Model.Metadata.BasicMetadata.Description = Model.Internship.Description;
    Model.Metadata.Social.GoogleMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid);
    Model.Metadata.Social.OpenGraphMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid);

    Model.Header = new UiHeader()
    {
        Title = null,
        Type = UiHeaderTypeEnum.BackgroundImage,
        ImagePath = Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid),
        Size = UIHeaderSizeEnum.Normal
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    // get  gallery images
    var galleryImages = Helpers.ImageHelper.GetCompanyGalleryImages(Model.Internship.Company.CompanyGuid).Select(m => new GalleryImage()
    {
        Url = m.Value
    }).ToList();
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/internship/detail")

<div id="_InternshipMenuWrapper" class="w-company-fixed-wrapper">
    <div class="ui vertical segment w-company-menu-wrapper">
        <div class="ui container">

            <img alt="Logo" class="ui mini image w-company-icon w-mobile-hide" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyLogo(Model.Internship.Company.CompanyGuid)">

            <h1>
                @Model.Internship.Title
            </h1>

            <div class="ui right floated horizontal list w-internship-menu w-mobile-hide w-tablet-hide">
                <div class="item">
                    <div class="middle aligned content">
                        <a href="@Url.Action("Internship", "Form", new {id = Model.Internship.ID, codeName = Model.Internship.CodeName})">
                            <div class="ui button primary">Odpovědět</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container padding-bottom-30">
    <hr class="w-hr-primary w-hr-margin-top-0" />
    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                <div>
                    <div class="w-mobile-show w-tablet-show ui header w-feature-primary">
                        <div class="content">
                            <a class="w-margin-bottom-30" href="@Url.Action("Internship", "Form", new {id = Model.Internship.ID, codeName = Model.Internship.CodeName})">
                                <div class="ui button primary">Odpovědět</div>
                            </a>
                        </div>
                    </div>
                    <div class="ui header w-feature-primary">
                        <i class="calendar icon icon w-color-primary"></i>
                        <div class="content">
                            Délka stáže @InternshipHelper.GetInternshipDurationDisplayValue(Model.Internship.MinDurationType, Model.Internship.MinDurationInDefaultValue, Model.Internship.MaxDurationType, Model.Internship.MaxDurationInDefaultValue)
                        </div>
                    </div>

                    <div class="ui header w-feature-primary">
                        <i class="users icon icon w-color-primary"></i>
                        <div class="content">

                            @StringHelper.GetPluralWord(Model.Internship.ActivityStats.InternshipSubmissionsCount, "Zatím se neozval žádný zájemce", "1 zájemce", "{count} zájemci", "již {count} zájemců")
                        </div>
                    </div>

                    <div class="w-margin-top-30">
                        @Html.Raw(Model.Internship.Description)
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-section-medium">
    <div class="ui container">
        <div class="w-section">
            <div class="ui centered grid">
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="globe icon icon"></i>
                        <div class="content">
                            @Model.Internship.CountryName
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui center aligned header w-feature-primary">
                        <i class="map icon icon"></i>
                        <div class="content">
                            @Model.Internship.City
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="calendar icon icon"></i>
                        <div class="content">
                            Nástup od @DateHelper.FormatDate(Model.Internship.StartDate)
                        </div>
                    </div>
                </div>
                <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
                    <div class="ui header w-feature-primary">
                        <i class="dollar icon icon"></i>
                        <div class="content">
                            @(Helpers.TextHelper.GetInternshipAmount(Model.Internship.HideAmount, Model.Internship.Amount, Model.Internship.CurrencyName, Model.Internship.CurrencyShowSignOnLeft)) / @Model.Internship.AmountTypeName
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Helpers.HeaderHelper.RenderHeader(new UiHeader()
{
    Color = UIHeaderColorEnum.Dark,
    Type = UiHeaderTypeEnum.Colored,
    Title = "Zaujala Tě stáž?",
    SubText = "Neváhej a jdi do toho!",
    Buttons = new List<UIHeaderButton>()
            {
                new UIHeaderButton()
                {
                    Text = "Odpovědět na stáž",
                    Type = UIHeaderButtonTypeEnum.Primary,
                    ButtonUrl = Url.Action("Internship", "Form", new {id = Model.Internship.ID, codeName = Model.Internship.CodeName})
                }
            }
})

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section">
            <h2>
                Doplňující informace
            </h2>
            <div class="ui list">
                <div class="item">
                    <strong>Firma: </strong>
                    <a href="@Url.Action("Index", "Company", new {codeName = Model.Internship.Company.CompanyCodeName})">
                        @Model.Internship.Company.CompanyName
                    </a>
                </div>
                <div class="item">
                    <strong>Požadované jazyky: </strong>
                    @{
                        var languageCount = 0;
                    }
                    @foreach (var requiredLanguage in Model.Internship.RequiredLanguages)
                    {
                        @Helpers.CountryHelper.GetCountryIcon(requiredLanguage.IconClass)
                        @requiredLanguage.LanguageName
                        if (languageCount != Model.Internship.RequiredLanguages.Count() - 1)
                        {
                            <span>,</span>
                        }
                        languageCount++;
                    }
                </div>
                <div class="item">
                    <strong>
                        Pracovní doba:
                    </strong>
                    @if (Model.Internship.HasFlexibleHours)
                    {
                        <span>Flexibilní pracovní doba</span>
                    }
                    else
                    {
                        <span>@Model.Internship.WorkingHours</span>
                    }
                </div>
                <div class="item">
                    <strong>Min. požadové vzdělání:</strong> @Model.Internship.MinEducation.Name
                </div>
                <div class="item">
                    <strong>Pouze pro studenty:</strong> @Model.Internship.StudentStatusOption.StudentStatusName
                </div>
                <div class="item">
                    <strong>Zadáno:</strong> @DateHelper.FormatDate(Model.Internship.ActiveSince)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-section-light">
    <div class="ui container">
        <div class="ui centered grid">
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                @Helpers.SocialHelper.GetFacebookShareButton(Helpers.UrlHelper.CurrentUrl, "Sdílet na Facebook")
            </div>
        </div>
    </div>
</div>

@if (galleryImages.Any())
            {
    <div class="w-section-light">
        <div class="ui container">
            <div class="w-section">
                @Html.Partial("~/Views/Modules/Gallery/Base.cshtml", new GalleryView()
           {
               GalleryID = "_CompanyGallery",
               Images = galleryImages
           })
            </div>
        </div>
    </div>
}

<div>
    @Helpers.GoogleMapHelper.GetMap(Model.Internship.Company.Lat, Model.Internship.Company.Lng, Model.Internship.Company.CompanyName)
</div>

