@model UI.Builders.Internship.Views.InternshipDetailView
@using Core.Helpers;
@using UI.Builders.Gallery.Views;
@using UI.Builders.Gallery.Models;
@using UI.Builders.Shared.Enums
@using UI.Modules.GoogleMaps.Views
@{
    Model.Metadata.BasicMetadata.Title = $"{Model.Internship.Title} | Stáž";
    Model.Metadata.BasicMetadata.Description = Model.Internship.Description;
    Model.Metadata.Social.GoogleMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid);
    Model.Metadata.Social.OpenGraphMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid);
    Model.Master.UiHeader.UseBackgroundImage(UIHeaderSizeEnum.Medium, null, Helpers.ImageHelper.GetCompanyBanner(Model.Internship.Company.CompanyGuid));
    Layout = "~/Views/Shared/Body/Dark.cshtml";

    // get gallery images
    var galleryImages = Helpers.ImageHelper.GetCompanyGalleryImages(Model.Internship.Company.CompanyGuid).Select(m => new GalleryImage()
    {
        Url = m.Value
    }).ToList();
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/internship/detail")


<div id="_InternshipMenuWrapper" class="w-internship-fixed-wrapper">
    <div class="ui vertical segment w-internship-menu-wrapper">
        <div class="ui container">
            <img alt="Company logo" class="ui mini image w-internship-icon" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyLogo(Model.Internship.Company.CompanyGuid)">

            <h1>
                @Model.Internship.Title
            </h1>

            <div class="w-internship-menu-right">
                <a href="@Url.Action("Internship", "Form", new {id = Model.Internship.ID, codeName = Model.Internship.CodeName})">
                    <div class="ui button secondary">
                        Odpovědět
                    </div>
                </a>
            </div>

            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container w-margin-top-20 w-padding-bottom-30">
    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">

                @if (Model.Internship.ActivityStats.InternshipSubmissionsCount > 0)
            {
                    <div class="ui red label left ribbon">@StringHelper.GetPluralWord(Model.Internship.ActivityStats.InternshipSubmissionsCount, "-", "1 zájemce", "{count} zájemci", "již {count} zájemců")</div>
                }

                <div class="w-body-text-center">
                    <div class="ui horizontal list">
                        <div class="item">
                            <div class="content">
                                @Helpers.MessageHelper.RenderIcon("home") <a href="@Url.Action("Index", "Company", new {codeName = Model.Internship.Company.CompanyCodeName})">
                                    @Model.Internship.Company.CompanyName
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Helpers.CountryHelper.GetCountryIcon(Model.Internship.CountryCode) @Model.Internship.CountryName
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Helpers.MessageHelper.RenderIcon("marker") @Model.Internship.City
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @if (Model.Internship.IsPaid)
                                {
                                    @Helpers.MessageHelper.RenderIcon("money green")
                                    <span>@(CurrencyHelper.DisplayCurrencyValue(Model.Internship.Amount, Model.Internship.CurrencyName, Model.Internship.CurrencyShowSignOnLeft)) / @Model.Internship.AmountTypeName</span>
                                }
                                else
                                {
                                    @Helpers.MessageHelper.RenderIcon("money red")
                                    <span>Neplaceno</span>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @Helpers.MessageHelper.RenderIcon("calendar") Nástup od @DateHelper.FormatDate(Model.Internship.StartDate)
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                @if (Model.Internship.HasFlexibleHours)
                                {
                                    @Helpers.MessageHelper.RenderIcon("wait")
                                    <span>Flexibilní pracovní doba</span>
                                }
                                else
                                {
                                    @Helpers.MessageHelper.RenderIcon("wait")
                                    <span>@Model.Internship.WorkingHours</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-margin-top-30">

                    <div class="w-body-text-center">
                        <div class="ui button teal large w-override-no-button">
                            Délka: @InternshipHelper.GetInternshipDurationDisplayValue(Model.Internship.MinDurationType, Model.Internship.MinDurationInDefaultValue, Model.Internship.MaxDurationType, Model.Internship.MaxDurationInDefaultValue)
                        </div>
                    </div>

                    <div class="w-margin-top-30">
                        @Html.Raw(Model.Internship.Description)
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="ui segment w-margin-top-30">
        <div class="ui grid">
            <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                <h2>
                    Základní informace
                </h2>

                <table class="ui three column very basic table w-body-text-center w-margin-top-30">
                    <thead>
                        <tr class="center aligned">
                            <th>Firma</th>
                            <th>Místo stáže</th>
                            <th>Nástup od</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center aligned">
                            <td>
                                <a href="@Url.Action("Index", "Company", new { codeName = Model.Internship.Company.CompanyCodeName })">
                                    @Model.Internship.Company.CompanyName
                                </a>
                            </td>
                            <td>@Helpers.CountryHelper.GetCountryIcon(Model.Internship.CountryCode) @Model.Internship.CountryName, @Model.Internship.City</td>
                            <td>@DateHelper.FormatDate(Model.Internship.StartDate)</td>
                        </tr>
                </table>

                <table class="ui three column very basic table w-body-text-center w-margin-top-30">
                    <thead>
                        <tr class="center aligned">
                            <th>Délka stáže</th>
                            <th>Odměna / mzda</th>
                            <th>Pracovní doba</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center aligned">
                            <td>@InternshipHelper.GetInternshipDurationDisplayValue(Model.Internship.MinDurationType, Model.Internship.MinDurationInDefaultValue, Model.Internship.MaxDurationType, Model.Internship.MaxDurationInDefaultValue)</td>
                            <td>
                                @if (Model.Internship.IsPaid)
                                {
                                    <span>@(CurrencyHelper.DisplayCurrencyValue(Model.Internship.Amount, Model.Internship.CurrencyName, Model.Internship.CurrencyShowSignOnLeft)) / @Model.Internship.AmountTypeName</span>
                                }
                                else
                                {
                                    <span>Neplaceno</span>
                                }
                            </td>
                            <td>
                                @if (Model.Internship.HasFlexibleHours)
                                {
                                    @Helpers.MessageHelper.RenderIcon("wait")
                                    <span>Flexibilní pracovní doba</span>
                                }
                                else
                                {
                                    @Helpers.MessageHelper.RenderIcon("wait")
                                    <span>@Model.Internship.WorkingHours</span>
                                }
                            </td>
                        </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="ui segment w-margin-top-30">
        <div class="ui grid">
            <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                <h2>
                    Požadavky
                </h2>

                <table class="ui three column very basic table w-body-text-center">
                    <thead>
                        <tr class="center aligned">
                            <th>Jazyk</th>
                            <th>Pouze pro studenty</th>
                            <th>Min. vzdělání</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center aligned">
                            <td>
                                @{
                                    var languageCount = 0;
                                }
                                @foreach (var requiredLanguage in Model.Internship.RequiredLanguages)
                                {
                                    @Helpers.CountryHelper.GetCountryIcon(requiredLanguage.IconClass)
                                    @requiredLanguage.LanguageName
                                    if (languageCount != Model.Internship.RequiredLanguages.Count() - 1)
                                    {
                                        <br />
                                    }
                                    languageCount++;
                                }
                            </td>
                            <td>@Model.Internship.StudentStatusOption.StudentStatusName</td>
                            <td>@Model.Internship.MinEducation.Name</td>
                        </tr>
                </table>

                <p>
                    @Html.Raw(Model.Internship.Requirements)
                </p>

            </div>
        </div>
    </div>

    @if (galleryImages.Any())
    {
        <div class="ui segment w-margin-top-30">
            @Html.Partial("~/Views/Modules/Gallery/Base.cshtml", new GalleryView()
       {
           GalleryID = "_CompanyGallery",
           Images = galleryImages
       })
        </div>
    }
</div>

<div class="w-color-background-light">
    <div class="ui container">
        <div class="ui grid w-margin-top-30">
            <div class="eight wide mobile eight wide tablet four wide computer column">
                <div class="ui segment vertical very padded">
                    <div class="ui list">
                        <div class="item">
                            <div class="header">Společnost</div>
                        </div>
                        <div class="item">
                            <a href="@Url.Action("Index", "Company", new { codeName = Model.Internship.Company.CompanyCodeName})">@Model.Internship.Company.CompanyName</a>
                        </div>
                        <div class="item">
                            @Model.Internship.Company.Address
                        </div>
                        <div class="item">
                            @Model.Internship.Company.City
                        </div>
                        <div class="item">
                            @Helpers.CountryHelper.GetCountryIcon(Model.Internship.Company.CountryCode) @Model.Internship.Company.CountryName
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide mobile eight wide tablet four wide computer column">
                <div class="ui segment vertical very padded">
                    <div class="ui list">
                        <div class="item">
                            <div class="header">Sociální sítě</div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Internship.Company.Web))
                        {
                            <div class="item">
                                <a target="_blank" href="@(Model.Internship.Company.Web)">@(Model.Internship.Company.Web)</a>
                            </div>
                        }
                        <div class="item">
                            @if (!string.IsNullOrEmpty(Model.Internship.Company.Facebook))
                            {
                                <a target="_blank" href="@Helpers.UrlHelper.GetFacebookUrl(Model.Internship.Company.Facebook)">
                                    <i class="facebook w-color-facebook icon large"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.Internship.Company.Twitter))
                            {
                                <a target="_blank" href="@Helpers.UrlHelper.GetTwitterUrl(Model.Internship.Company.Twitter)">
                                    <i class="twitter w-color-twitter icon large"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.Internship.Company.LinkedIn))
                            {
                                <a target="_blank" href="@Helpers.UrlHelper.GetLinkedInUrl(Model.Internship.Company.LinkedIn)">
                                    <i class="linkedin w-color-linkedin icon large"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column w-margin-bottom-14">
                @Html.Partial("~/Views/Modules/GoogleMaps/GoogleMap.cshtml",
                        new GoogleMapView()
                        {
                            Zoom = 15,
                            Lat = Model.Internship.Company.Lat,
                            Lng = Model.Internship.Company.Lng,
                            MarkerTitle = Model.Internship.Company.CountryName
                        })
            </div>
        </div>
    </div>
</div>

