@using Core.Helpers
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.Header
@model UI.Builders.Internship.Views.InternshipNotFoundView

@{
    Model.Metadata.BasicMetadata.Title = "Stáž nenalezena";
    Model.Metadata.BasicMetadata.Description = "Požadována stáž nebyla nalezena.";


    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Zkus se podívat na nabídku níže, třeba najdeš něco jiného!",
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Primary,
        Size = UIHeaderSizeEnum.Normal
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section">
            <h2>
                Mohlo by Tě zajímat
            </h2>
            @if (Model.LatestInternships.Any())
            {
                <div class="ui divided items">
                    @foreach (var internship in Model.LatestInternships)
                    {
                        <div class="item">
                            <div class="ui tiny image">
                                <a href="@Url.Action("Index", "Company", new { codeName = internship.CompanyCodeName})">
                                    <img alt="" src="@Helpers.ImageHelper.GetCompanyLogo(internship.CompanyGuid)">
                                </a>
                            </div>
                            <div class="middle aligned content">
                                <a href="@Url.Action("Index", "Internship", new { id = internship.ID, codeName = internship.CodeName})">@internship.Title</a>
                                <p class="w-font-size-small">
                                    @InternshipHelper.GetInternshipDurationDisplayValue(internship.MinDurationType, internship.MinDurationDefaultValue, internship.MaxDurationType, internship.MaxDurationDefaultValue) | @internship.City
                                </p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="w-margin-top-30">
    @Helpers.HeaderHelper.RenderHeader(new UiHeader()
{
    Type = UiHeaderTypeEnum.Colored,
    Color = UIHeaderColorEnum.Dark,
    Title = "Stále jsi nic nenašel?",
    Buttons = new List<UIHeaderButton>()
        {
            new UIHeaderButton()
            {
                Type = UIHeaderButtonTypeEnum.Primary,
                Text = "Procházet všechny stáže",
                ButtonUrl = Url.Action("Index", "Internships")
            }
        }
})
</div>

