@model UI.Builders.Company.Views.CompanyDetailView
@using Core.Helpers;

<h2>
    Aktuální nabídky
</h2>

<table class="ui very basic table">
    <tbody>
        @foreach (var internship in Model.Company.Internships)
        {
            <tr>
                <td class="w-font-size-large">
                    <a href="@Url.Action("Index", "Internship", new { id = internship.ID, codeName = internship.CodeName })">
                        @internship.Title <span class="w-font-size-small w-font-light">
                            @if (internship.IsPaid)
                            {
                                <span>(@CurrencyHelper.DisplayCurrencyValue(internship.Amount, internship.CurrencyName, internship.CurrencyShowSignOnLeft) / @internship.AmountTypeName)</span>
                            }
                        </span>
                    </a>
                </td>
                <td class="collapsing">
                    <a href="@Url.Action("Internship", "Form", new { id = internship.ID, codeName = internship.CodeName })">
                        <div class="ui button primary">
                            Odpovědět
                        </div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

