@using UI.Builders.Shared.Enums
@using UI.Modules.Header

@model UI.Builders.Master.Views.MasterView

@{
    var header = Model?.Master?.UiHeader ?? new UiHeader();
}

@{
    switch (header.Type)
    {
        case UiHeaderType.Colored:
            {
                var headerClassName = $"w-header {header.Color.ToString().ToLower()}";
                <div id="_UIHeaderWrapper">
                    <div class="@headerClassName">
                        <div class="ui container">
                            <h1>
                                @(header.Title)
                            </h1>
                        </div>
                    </div>
                </div>
                break;
            }
        case UiHeaderType.BackgroundImage:
            {
                <div id="_UIHeaderWrapper">
                    <div class="w-teaser-image" style="background-image: url(@header.ImagePath)">
                        @if (!string.IsNullOrEmpty(header.Title))
                        {
                            <h1>
                                @header.Title
                            </h1>
                        }
                        @if (!string.IsNullOrEmpty(header.Text))
                        {
                            <span class="w-teaser-image-subtext">
                                @header.Text
                            </span>
                        }
                        @if (header.UseScrollButton)
                        {
                            //Include script only when scroll button is used
                            @Helpers.ScriptHelper.RequireScript("/scripts/views/modules/uiHeader")
                            <span class="w-teaser-image-button _UIHeaderMove">
                                <i class="angle down icon huge"></i>
                            </span>
                        }
                    </div>
                </div>
                break;
            }
    }
}



