@using UI.Builders.Shared.Enums
@using UI.Modules.Header

@model UI.Builders.Master.Views.MasterView

@{
    var header = Model?.Master?.UiHeader ?? new UiHeader();
    var baseHeaderClassName = "w-header";
    var headerSizeClass = $"w-header-size {header.Size.ToString().ToLower()}";
    var headerAlignmentClass = $"w-header-alignment {header.TextAlignment.ToString().ToLower()}";
}

@{
    switch (header.Type)
    {
        case UiHeaderTypeEnum.Colored:
            {
                var headerClassName = $"w-header-colored {header.Color.ToString().ToLower()} {headerSizeClass} {headerAlignmentClass} {baseHeaderClassName}";
                <div id="_UIHeaderWrapper">
                    <div class="@headerClassName">
                        <div class="ui container">
                            <h1>
                                @(header.Title)
                            </h1>
                            @if (!string.IsNullOrEmpty(header.Text))
                            {
                                <span class="w-header-subtext">
                                    @header.Text
                                </span>
                            }
                            @if (header.Buttons.Any())
                            {
                                <div class="w-header-buttons">
                                    @foreach (var button in header.Buttons)
                                    {
                                        <div class="w-header-button">
                                            <a href="@button.ButtonUrl">
                                                <div class="ui button @button.Type.ToString().ToLower()">
                                                    @button.Text
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                break;
            }
        case UiHeaderTypeEnum.BackgroundImage:
            {
                <div id="_UIHeaderWrapper">
                    <div class="w-header-background-image @(headerSizeClass) @(headerAlignmentClass) @(baseHeaderClassName)" style="background-image: url(@header.ImagePath)">
                        <div class="ui container">
                            @if (!string.IsNullOrEmpty(header.Title))
                            {
                                <h1>
                                    @header.Title
                                </h1>
                            }
                            @if (!string.IsNullOrEmpty(header.Text))
                            {
                                <span class="w-header-subtext">
                                    @header.Text
                                </span>
                            }
                            @if (header.UseScrollButton)
                            {
                                //Include script only when scroll button is used
                                @Helpers.ScriptHelper.RequireScript("/scripts/views/modules/uiHeader")
                                <span class="w-header-button _UIHeaderMove">
                                    <i class="angle down icon huge"></i>
                                </span>
                            }
                        </div>
                    </div>
                </div>
                break;
            }
    }
}



