@model UI.Builders.Thesis.Views.ThesisBrowseView
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.Header
@{
    Model.Metadata.BasicMetadata.Title = "Závěrečné práce";
    Model.Metadata.BasicMetadata.Description = "Najdi si závěrečnou práci (diplomová práce nebo bakalářská práce) z uvedené nabídky, získej odměnu za svou práci, nauč se něčemu nového a hlavně pracuj na něčem, co dává smysl.";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Napiš práci, která má smysl a pomůže Ti na pracovním trhu",
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Primary,
        Size = UIHeaderSizeEnum.Inherit
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    var currentCategory = Helpers.UrlHelper.GetRouteParam("category", string.Empty) ?? string.Empty;
    var searchVal = Helpers.UrlHelper.GetQueryString("search", string.Empty) ?? string.Empty;

    var totalThesesCount = Model.ThesisCategories.Sum(m => m.ThesesCount);
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/thesis/browseTheses")

<div class="ui container">

    @using (Html.BeginForm("Search", "Theses", FormMethod.Get, null))
    {
        <input type="hidden" name="category" value="@currentCategory" />
        <div class="ui grid">

            <div class="sixteen wide mobile sixteen wide tablet eleven wide computer column">
                <div class="w-mobile-show">
                    <div class="ui divided items">
                        @foreach (var thesis in Model.Theses)
                        {
                            <div class="item">
                                <div class="middle aligned content">
                                    <a href="@Url.Action("Index", "Thesis", new {id = thesis.ID, codeName = thesis.CodeName})">@thesis.ThesisName</a>
                                    <p class="w-font-size-small">
                                        @thesis.ThesisTypeNameConverted
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="w-mobile-hide">
                    <div class="ui divided items">
                        @foreach (var thesis in Model.Theses)
                        {
                            <div class="item">
                                <div class="ui tiny image">
                                    <a href="@Url.Action("Index", "Company", new {codeName = thesis.Company.CompanyCodeName})">
                                        <img alt="" src="@Helpers.ImageHelper.GetCompanyLogo(thesis.Company.CompanyGuid)">
                                    </a>
                                </div>
                                <div class="middle aligned content">
                                    <a href="@Url.Action("Index", "Thesis", new {id = thesis.ID, codeName = thesis.CodeName})">@thesis.ThesisName</a>
                                    <p class="w-font-size-small">
                                        @thesis.ThesisTypeNameConverted
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @Helpers.PagerHelper.GetPager(Model.Theses)

            </div>
            <div class="sixteen wide mobile sixteen wide tablet five wide computer column">
                <div class="ui secondary very padded segment">
                    <h3>Hledat</h3>

                    <div class="ui form">
                        <div class="field">
                            <div class="ui search _ThesesNameAutocomplete">
                                <div class="ui fluid icon input">
                                    <input class="prompt" name="search" placeholder="Klíčové slovo ..." type="text" value="@searchVal" autocomplete="off">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results w-font-size-small"></div>
                            </div>
                        </div>

                        <div class="field">
                            <button type="submit" class="ui button primary">Hledat</button>
                        </div>
                    </div>

                    <h3>Kategorie</h3>
                    <div class="ui link list">
                        @if (string.IsNullOrEmpty(currentCategory))
                        {
                            var routeObj = new { category = "", search = searchVal };
                            <a href="@Url.Action("Index", routeObj)" class="active item">
                                Všechny kategorie
                                <span class="w-body-float-right">@totalThesesCount</span>
                            </a>
                        }
                        else
                        {
                            var routeObj = new { category = "", search = searchVal };
                            <a href="@Url.Action("Index", routeObj)" class="item">
                                Všechny kategorie
                                <span class="w-body-float-right">@totalThesesCount</span>
                            </a>
                        }
                        @foreach (var category in Model.ThesisCategories)
                        {
                            var routeObj = new { category = category.CodeName, search = searchVal };

                            if (currentCategory.Equals(category.CodeName, StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="@Url.Action("Index", routeObj)" class="active item">
                                    @category.CategoryName
                                    <span class="w-font-bold w-body-float-right">@category.ThesesCount</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", routeObj)" class="item">
                                    @category.CategoryName
                                    <span class="w-body-float-right">@category.ThesesCount</span>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="w-margin-top-30">
    @Helpers.HeaderHelper.RenderHeader(new UiHeader()
{
    Type = UiHeaderTypeEnum.Colored,
    Color = UIHeaderColorEnum.Medium,
    Title = "Nenašel jsi vhodnou práci?",
    SubText = "Kontaktuj některou z firem, třeba pro Tebe něco mají",
    Buttons = new List<UIHeaderButton>()
        {
            new UIHeaderButton()
            {
                Type = UIHeaderButtonTypeEnum.Primary,
                Text = "Zaregistruj se zde",
                ButtonUrl = Url.Action("Register", "Account")
            }
        }
})
</div>


