@model UI.Builders.Thesis.Views.ThesisBrowseView
@using Core.Helpers;
@using UI.Builders.Shared.Enums
@{
    Model.Metadata.BasicMetadata.Title = "Závěrečné práce";
    Model.Metadata.BasicMetadata.Description = "Najdi si závěrečnou práci (diplomová práce nebo bakalářská práce) z uvedené nabídky, získej odměnu za svou práci, nauč se něčemu nového a hlavně pracuj na něčem, co dává smysl.";
    Model.Master.UiHeader.UseColoredHeader(UIHeaderSizeEnum.Inherit, UIHeaderColorEnum.Violet, Model.Metadata.BasicMetadata.Title);
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";

    var currentCategory = Helpers.UrlHelper.GetRouteParam("category", string.Empty) ?? string.Empty;
    var searchVal = Helpers.UrlHelper.GetQueryString("search", string.Empty) ?? string.Empty;

    var totalThesesCount = Model.ThesisCategories.Sum(m => m.ThesesCount);
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/thesis/browseTheses")

@using (Html.BeginForm("Search", "Theses", FormMethod.Get, null))
{
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui segment padded">
                <div class="ui grid">
                    <div class="sixteen wide mobile twelve wide tablet fourteen wide computer column">
                        <div class="ui search _ThesesNameAutocomplete">
                            <div class="ui fluid icon input">
                                <input class="prompt" name="search" placeholder="Klíčové slovo ..." type="text" value="@searchVal" autocomplete="off">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile four wide tablet two wide computer column">
                        <button class="ui button primary fluid" type="submit">
                            Hledat
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide computer only column">
            <div class="ui padded segment">
                <div class="ui secondary vertical pointing menu w-internship-category-menu ">
                    @if (string.IsNullOrEmpty(currentCategory))
                    {
                        <a href="@Url.Action("Index", new { category = "" })" class="active item">
                            Všechny nabídky
                            <span class="w-body-float-right">@totalThesesCount</span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { category = "" })" class="item">
                            Všechny nabídky
                            <span class="w-body-float-right">@totalThesesCount</span>
                        </a>
                    }

                    @foreach (var category in Model.ThesisCategories)
                    {
                        if (currentCategory.Equals(category.CodeName, StringComparison.OrdinalIgnoreCase))
                        {
                            <a href="@Url.Action("Index", new { category = category.CodeName })" class="active item">
                                @category.CategoryName
                                <span class="w-font-bold w-body-float-right">@category.ThesesCount</span>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", new { category = category.CodeName })" class="item">
                                @category.CategoryName
                                <span class="w-body-float-right">@category.ThesesCount</span>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
            <div class="ui padded segment">

                @if (!Model.Theses.Any())
                {
                    @Helpers.MessageHelper.RenderWarningMessage("Žádné závěrečné práce nebyly nalezeny")
                }
                else
                {
                    <div class="ui divided items w-item-primary-type">
                        @foreach (var thesis in Model.Theses)
                        {
                            <div class="item">
                                <a class="ui tiny image" href="@Url.Action("Index", "Company", new {codeName = thesis.Company.CompanyCodeName})">
                                    <img alt="@thesis.Company.CompanyName logo" src="@Helpers.ImageHelper.GetCompanyLogo(thesis.Company.CompanyGuid)">
                                </a>
                                <div class="content">
                                    <a href="@Url.Action("Index", "Thesis", new {id = thesis.ID, codename = thesis.CodeName})" class="header">@thesis.ThesisName</a>
                                    <div class="meta">
                                        <span>
                                            Zadáno:
                                            <strong>@DateHelper.FormatDate(thesis.Created)</strong>
                                        </span>
                                        <span class="w-tablet-hide w-mobile-hide">|</span>
                                        <span class="w-tablet-block w-mobile-block">
                                            Typ práce:
                                            <strong>
                                                @thesis.ThesisTypeNameConverted
                                            </strong>
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>
                                            @thesis.ShortDescription
                                        </p>
                                    </div>
                                    <div class="extra">
                                        @if (thesis.IsPaid)
                                        {
                                            <div class="ui label"><i class="money icon"></i>@(Helpers.TextHelper.GetThesisAmount(thesis.HideAmount, thesis.Amount, thesis.CurrencyName, thesis.CurrencyShowSignOnLeft))</div>
                                        }
                                        <a class="ui right floated primary button" href="@Url.Action("Index", "Thesis", new {codeName = thesis.CodeName})">
                                            Detail
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @Helpers.PagerHelper.GetPager(Model.Theses);
                }
            </div>
        </div>
    </div>
}





