@model UI.Builders.Gallery.Views.GalleryView
@using UI.Helpers

@Helpers.ScriptHelper.RequireScript("/scripts/views/gallery/base")
@Helpers.ScriptHelper.RequireCss("/scripts/addons/unitegallery-master/dist/css/unite-gallery")

<div id="_GalleryID" data-id="@Model.GalleryID"></div>

@if (Model.Images.Any()) // generate gallery only if there are some images
{
    <div class="ui segment">
        <div id="@Model.GalleryID" class="w-body-hide">
            @foreach (var image in Model.Images)
            {
                <img alt="" src="@image.Url"
                     data-image="@image.Url"
                     data-description="">
            }
        </div>
    </div>
}





