@using Core.Config
@using UI.Builders.Shared.Enums
@using UI.Modules.GoogleMaps.Views
@model UI.Builders.Home.Views.HomeContactUsView

@{
    Model.Metadata.BasicMetadata.Title = "Kontakt";
    Model.Master.UiHeader.UseBackgroundImage(UIHeaderSizeEnum.Large, "Kontakt", "/content/images/contact-us-hero.jpg", "Mauris auctor, enim at dapibus blandit, sapien metus varius libero, sed cursus sem orci sit amet massa.");
    Model.Master.UiHeader.UseScrollButton = true; 
    Model.Master.UiHeader.SetTextAlignment(UIHeaderTextAlignmentEnum.Center);
    Layout = "~/Views/Shared/Body/Light.cshtml";
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="ui grid centered w-margin-top-70">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <h2>
                Pošli nám zprávu
            </h2>
        </div>
        <div class="sixteen wide mobile ten wide tablet six wide computer column">

            <div class="ui form w-body-text-left">

                @Helpers.MessageHelper.RenderFormValidationResult(Model.ContactUsForm.FormResult.IsSuccess)


                <div class="field required">
                    <label>E-mail</label>
                    <input name="Email" placeholder="E-mail" type="text" value="@Model.ContactUsForm.Email">
                </div>

                <div class="field required">
                    <label>Zpráva</label>
                    <textarea name="Message">@Model.ContactUsForm.Message</textarea>
                </div>

                <button class="ui button primary" type="submit">
                    Odeslat
                </button>
            </div>
        </div>
    </div>
}

<div class="w-color-background-dark">
    <div class="ui container">
        <div class="ui grid w-margin-top-50">
            <div class="eight wide mobile eight wide tablet four wide computer column">
                <div class="ui segment vertical very padded">
                    <div class="ui list">
                        <div class="item">
                            <div class="header">Společnost</div>
                        </div>
                        <div class="item">
                            @AppConfig.CompanyName
                        </div>
                        <div class="item">
                            @AppConfig.Address
                        </div>
                        <div class="item">
                            @AppConfig.City
                        </div>
                        <div class="item">
                            @Helpers.CountryHelper.GetCountryIcon("cz") @AppConfig.Country
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide mobile eight wide tablet four wide computer column">
                <div class="ui segment vertical very padded">
                    <div class="ui list">
                        <div class="item">
                            <div class="header">Kontaktní údaje</div>
                        </div>
                        @*@if (!string.IsNullOrEmpty(AppConfig.WebUrl))
                            {
                                <div class="item">
                                    <a href="@AppConfig.WebUrl">@AppConfig.WebUrl</a>
                                </div>
                            }*@
                        @if (!string.IsNullOrEmpty(AppConfig.MainContactEmail))
                        {
                            <div class="item">
                                @AppConfig.MainContactEmail
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(AppConfig.PhoneNumber))
                        {
                            <div class="item">
                                @AppConfig.PhoneNumber
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(AppConfig.FacebookAppUrl))
                        {
                            <div class="item">
                                <i class="facebook icon"></i>
                                <div class="content">
                                    <a href="@AppConfig.FacebookAppUrl">Facebook</a>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(AppConfig.FacebookAppUrl))
                        {
                            <div class="item">
                                <i class="twitter icon"></i>
                                <div class="content">
                                    <a href="@AppConfig.TwitterAppUrl">Twitter</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column w-margin-bottom-14">
                @Html.Partial("~/Views/Modules/GoogleMaps/GoogleMap.cshtml",
                    new GoogleMapView()
                    {
                        Zoom = 15,
                        Lat = AppConfig.CompanyLat,
                        Lng = AppConfig.CompanyLng,
                        MarkerTitle = AppConfig.SiteName
                    })
            </div>
        </div>
    </div>
</div>
