@using Microsoft.AspNet.Identity
@using UI.Helpers

@model UI.Builders.Master.Views.MasterView

@if (Request.IsAuthenticated)
{
   var displayName = string.IsNullOrEmpty(Model.Master.CurrentUser.FirstName) ? Model.Master.CurrentUser.UserName : Model.Master.CurrentUser.FirstName;

    <a class="item w-menu-right-item" href="@Url.Action("Index", "Auth")">
        <img alt="avatar" class="ui avatar image" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetUserAvatar(Model.Master.CurrentUser.UserName)">
        &nbsp;<span>@displayName</span>
    </a>
}
else
{
    <a class="item w-menu-right-item" href="@Url.Action("Register", "Account")">
        <div class="ui secondary button">Registrovat</div>
    </a>
    <a class="item w-menu-right-item" href="@Url.Action("Login", "Account")">
        Přihlásit
    </a>
}
