@using UI.Extensions;
@model UI.Builders.Master.Views.MasterView

<!DOCTYPE html>

<html lang="cs">
<head>
    @* Basic metadata + charset *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.Metadata.BasicMetadata.ShortenTitle(Model.Metadata.BasicMetadata.Description)" />
    <title>@Model.Metadata.BasicMetadata.ShortenDescription(Model.Metadata.BasicMetadata.Title)</title>

    @* Metadata *@
    @Html.Partial("Social/_SocialMetadata")

    @* CSS *@
    @Html.RequireCss("/Semantic/dist/semantic.min", 100)
    @Html.RequireCss("/Stylesheets/main.min", 100)
    @Html.EmitRequiredCss()
</head>
<body id="w-body-wrapper">
    @* Navigation *@
    @Html.Partial("_TopMenu")

    @* Header *@
    @Html.Partial("~/Views/Modules/Header/Header.cshtml")

    @* Main body *@
    @RenderBody()

    @* Footer *@
    @Html.Partial("_Footer")

    @* Facebook *@
    @Html.Partial("Social/_FacebookAPI")

    @* Google analytics *@
    @Html.Partial("Social/_GoogleAnalytics")

    @* Priority needs to be highest for scripts on master page so that they are included first *@
    @Html.RequireScript("/scripts/addons/respond.min", 100)
    @Html.RequireScript("/scripts/requireConfig", 100)
    @Html.RequireScript("/scripts/require", 100, "data-main=\"main\"")

    @* Render all scripts register using "RequireScript" extension method *@
    @Html.EmitRequiredScripts()
</body>
</html>
