@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower() ?? "";
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower() ?? "";
}

<div class="w-computer-show">
    <div class="ui fixed borderless main menu w-menu-main">
        <div class="ui container">
            <div class="header item">
                @*<img alt="Logo" class="logo" src="@ImageHelper.GetImageUrl("content/images/general/logos/profile.png")">*@
                <a href="@Url.Action("Index", "Home")">@Common.Config.AppConfig.SiteName</a>
            </div>
            @if (controller.Equals("forum"))
            {
                <a href="@Url.Action("Index", "Forum")" class="item active">Nabídka stáží</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Forum")" class="item">Nabídka stáží</a>
            }
            @if (controller.Equals("browse") || controller.Equals("channel"))
            {
                <a href="@Url.Action("Index", "Browse")" class="item active">Firmy</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Browse")" class="item">Firmy</a>
            }
            @if (controller.Equals("videos"))
            {
                <a href="@Url.Action("Index", "Videos")" class="item active">Proč jít na stáž?</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Videos")" class="item">Proč jít na stáž?</a>
            }
            <div class="right menu">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>

<div class="w-tablet-show">
    <div class="ui fixed borderless main menu w-menu-main">
        <div class="ui container">
            <div class="header item">
                @*<img alt="Logo" class="logo" src="@ImageHelper.GetImageUrl("content/images/general/logos/profile.png")">*@
                <a href="@Url.Action("Index", "Home")">@Common.Config.AppConfig.SiteName</a>
            </div>
            <a href="@Url.Action("Index", "Forum")" class="item">Forum</a>
            <a href="@Url.Action("Index", "Browse")" class="item">Channels</a>
            <a href="@Url.Action("Index", "Videos")" class="item">Videos</a>
            <a href="@Url.Action("Index", "Chart")" class="item">Charts</a>

            <div class="right menu">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>

<div class="w-mobile-show w-menu-mobile-wrapper _MobileMenu">
    <div class="ui borderless menu navbar page grid fluid w-menu-mobile-header">
        <a href="@Url.Action("Index", "Home")" class="brand item">
            @Common.Config.AppConfig.SiteName
        </a>
        <div class="right menu">
            <a class="item _MobileMenuToggle" href="#">
                <div>
                    <i class="list layout icon"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="ui vertical menu fluid w-menu-mobile">
        @Html.ActionLink("Channels", "Index", "Browse", null, new { @class = "item" })
        @Html.ActionLink("Videos", "Index", "Videos", null, new { @class = "item" })
        @Html.ActionLink("Charts", "Index", "Chart", null, new { @class = "item" })
        @Html.ActionLink("Forum", "Index", "Forum", new { }, new { @class = "item" })
        @Html.ActionLink("Blog", "Index", "Blog", new { }, new { @class = "item" })
        @Html.Partial("_LoginPartialMobile")
    </div>
</div>