@{
    var controller = Helpers.UrlHelper.CurrentController ?? string.Empty;
    var action = Helpers.UrlHelper.CurrentAction ?? string.Empty;
}
<div class="w-computer-show">
    <div class="ui fixed borderless main menu w-menu-main">
        <div class="ui container">
            <div class="header item">
                @*<img alt="Logo" class="logo" src="@ImageHelper.GetImageUrl("content/images/general/logos/profile.png")">*@
                <a href="@Url.Action("Index", "Home")">@Core.Config.AppConfig.SiteName</a>
            </div>
            @if (controller.Equals("internships", StringComparison.OrdinalIgnoreCase))
            {
                <a href="@Url.Action("Index", "Internships")" class="item active">Stáže</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Internships")" class="item">Stáže</a>
            }
            @if (controller.Equals("theses", StringComparison.OrdinalIgnoreCase))
            {
                <a href="@Url.Action("Index", "Theses")" class="item active">Závěrečné práce</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Theses")" class="item">Závěrečné práce</a>
            }
            @if (controller.Equals("companies", StringComparison.OrdinalIgnoreCase))
            {
                <a href="@Url.Action("Index", "Companies")" class="item active">Firmy</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Companies")" class="item">Firmy</a>
            }

            <div class="right menu _AvatarOfCurrentUser">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>
<div class="w-tablet-show">
    <div class="ui fixed borderless main menu w-menu-main">
        <div class="ui container">
            <div class="header item">
                <a href="@Url.Action("Index", "Home")">@Core.Config.AppConfig.SiteName</a>
            </div>
            <a href="@Url.Action("Index", "Internships")" class="item">Stáže</a>
            <a href="@Url.Action("Index", "Theses")" class="item">Závěrečné práce</a>
            <a href="@Url.Action("Index", "Companies")" class="item">Firmy</a>
            <div class="right menu _RefreshAvatarSection">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>
<div class="w-mobile-show w-menu-mobile-wrapper _MobileMenu">
    <div class="ui borderless menu navbar page grid fluid w-menu-mobile-header">
        <a href="@Url.Action("Index", "Home")" class="brand item">
            @Core.Config.AppConfig.SiteName
        </a>
        <div class="right menu">
            <a class="item _MobileMenuToggle" href="#">
                <div>
                    <i class="list layout icon"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="ui vertical menu fluid w-menu-mobile">
        <a href="@Url.Action("Index", "Internships")" class="item">Stáže</a>
        <a href="@Url.Action("Index", "Theses")" class="item">Závěrečné práce</a>
        <a href="@Url.Action("Index", "Companies")" class="item">Firmy</a>
        @Html.Partial("_LoginPartialMobile")
    </div>
</div>
