@model UI.Builders.Company.Views.CompanyDetailView
@using UI.Builders.Company.Enum
@using UI.Builders.Shared.Enums
@using UI.Modules.GoogleMaps.Views
@{
    Model.Metadata.Social.GoogleMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Company.CompanyGuid);
    Model.Metadata.Social.OpenGraphMetadata.Image = Helpers.ImageHelper.GetCompanyBanner(Model.Company.CompanyGuid);
    Model.Master.UiHeader.UseBackgroundImage(UIHeaderSizeEnum.Medium, null, Helpers.ImageHelper.GetCompanyBanner(Model.Company.CompanyGuid));

    Layout = "~/Views/Shared/Body/Dark.cshtml";

    var aboutTabClass = Model.ActiveTab == CompanyDetailMenuEnum.About ? "active" : null;
    var internshipTabClass = Model.ActiveTab == CompanyDetailMenuEnum.Internships ? "active" : null;
    var contactTabClass = Model.ActiveTab == CompanyDetailMenuEnum.Contact ? "active" : null;
    var thesisTabClass = Model.ActiveTab == CompanyDetailMenuEnum.Theses ? "active" : null;
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/company/detail")


<div id="_CompanyMenuWrapper" class="w-company-fixed-wrapper">
    <div class="ui vertical segment w-company-menu-wrapper">
        <div class="ui container">

            <img alt="Logo" class="ui mini image w-company-icon" src="@Helpers.ImageHelper.GetTransparentImage()" data-src="@Helpers.ImageHelper.GetCompanyLogo(Model.Company.CompanyGuid)">

            <h1>
                @Model.Company.CompanyName
            </h1>

            <div id="_CompanyRightMenu" class="ui secondary pointing menu w-company-menu">
                <a class="item @aboutTabClass" href="@Url.Action("Index", "Company", new {codeName = Model.Company.CodeName})">
                    O nás
                </a>
                <a class="item @internshipTabClass" href="@Url.Action("Internships", "Company", new {codeName = Model.Company.CodeName})">
                    Stáže
                    <span class="w-font-light">&nbsp;(@Model.Company.Internships.Count())</span>
                </a>
                <a class="item @thesisTabClass" href="@Url.Action("Theses", "Company", new {codeName = Model.Company.CodeName})">
                    Závěrečné práce
                    <span class="w-font-light">&nbsp;(@Model.Company.Theses.Count())</span>
                </a>
                <a class="item @contactTabClass" href="@Url.Action("Contact", "Company", new {codeName = Model.Company.CodeName})">
                    Kontakt
                </a>
            </div>
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container w-margin-top-20 w-padding-bottom-30">
    <div class="ui grid">
        <div class="sixteen wide mobile six wide tablet five wide computer column">
            @Html.Partial("~/Views/Modules/GoogleMaps/GoogleMap.cshtml",
            new GoogleMapView()
            {
                Zoom = 15,
                Lat = Model.Company.Lat,
                Lng = Model.Company.Lng,
                MarkerTitle = Model.Company.CompanyName
            })

            <div class="ui segment w-font-light">
                <div class="ui list w-font-size-small">
                    <div class="item">
                        <div class="content">
                            @Helpers.CountryHelper.GetCountryIcon(Model.Company.CountryCode)
                            @{
                                <strong>@Model.Company.CountryName</strong>
                            }
                        </div>
                    </div>
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            @Model.Company.City, @Model.Company.Address
                        </div>
                    </div>
                    <div class="item">
                        @if (!string.IsNullOrEmpty(Model.Company.Web))
                        {
                            <i class="laptop icon"></i>
                            <div class="content">
                                <a href="@Model.Company.Web">
                                    @Model.Company.Web
                                </a>
                            </div>
                        }
                    </div>
                    <div class="item w-margin-top-10">
                        <i class="idea icon"></i>
                        <div class="content">
                            Založeno v roce @Model.Company.YearFounded
                        </div>
                    </div>
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            <span>@Model.Company.CompanySizeName zaměstnanců</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="tag icon"></i>
                        <div class="content">
                            <span>@Model.Company.CompanyCategoryName</span>
                        </div>
                    </div>
                </div>
                
                @if (!string.IsNullOrEmpty(Model.Company.Facebook) || !string.IsNullOrEmpty(Model.Company.Twitter) || !string.IsNullOrEmpty(Model.Company.LinkedIn))
                {
                    <hr />
                }

                <div class="w-company-social-icons">
                    @if (!string.IsNullOrEmpty(Model.Company.Facebook))
                    {
                        <a href="@Helpers.UrlHelper.GetFacebookUrl(Model.Company.Facebook)">
                            <i class="facebook icon w-color-facebook"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.Twitter))
                    {
                        <a href="@Helpers.UrlHelper.GetTwitterUrl(Model.Company.Twitter)">
                            <i class="twitter icon w-color-facebook"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.LinkedIn))
                    {
                        <a href="@Helpers.UrlHelper.GetLinkedInUrl(Model.Company.LinkedIn)">
                            <i class="linkedin icon w-color-linkedin"></i>
                        </a>
                    }
                </div>

            </div>
        </div>

        <div class="sixteen wide mobile ten wide tablet eleven wide computer column">
           
            <div>
                @RenderBody()
            </div>

        </div>
    </div>
</div>
