@model UI.Builders.Company.Views.CompanyDetailView
@using UI.Helpers;
@using Core.Helpers;
@using UI.Extensions;
@{
    ViewBag.Title = Model.Company.CompanyName;
    ViewBag.Description = $"Profil společnosti {Model.Company.CompanyName}. Jdi na stáž této firmy nebo pro ni napiš svou závěrečnou práci a připrav se na svou budoucnost";
    Layout = "~/Views/Shared/Body/Dark.cshtml";

    // determins which tabs are active
    var aboutTabActive = Model.ActiveTab == UI.Builders.Company.Enums.CompanyDetailMenuEnum.About;
    var internshipTabActive = Model.ActiveTab == UI.Builders.Company.Enums.CompanyDetailMenuEnum.Internships;
    var contactTabActive = Model.ActiveTab == UI.Builders.Company.Enums.CompanyDetailMenuEnum.Contact;
    var thesisTabActive = Model.ActiveTab == UI.Builders.Company.Enums.CompanyDetailMenuEnum.Theses;

    var aboutTabClass = aboutTabActive ? "active" : null;
    var internshipTabClass = internshipTabActive ? "active" : null;
    var contactTabClass = contactTabActive ? "active" : null;
    var thesisTabClass = thesisTabActive ? "active" : null;
}

@Html.RequireScript("/scripts/views/company/detail")

<div class="ui container w-margin-top-20">
    <div class="ui grid">
        <div id="_CompanyScrollAnchor" class="sixteen wide column w-padding-bottom-0">
            <img alt="@Model.Company.CompanyName banner" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyBanner(Model.Company.CompanyGuid)" class="ui image fluid w-company-detail-banner" />
        </div>
    </div>
</div>

<div id="_CompanyMenuWrapper" class="w-company-fixed-wrapper">
    <div class="ui container">
        <div class="ui vertical segment w-company-menu-wrapper">
            <img alt="Company logo" class="ui avatar image w-company-icon" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(Model.Company.CompanyGuid)">

            <h1>
                @Model.Company.CompanyName
            </h1>

            <div id="_CompanyRightMenu" class="ui secondary pointing menu w-company-menu">
                <a class="item @aboutTabClass" data-tab="about">
                    O nás
                </a>
                <a class="item @internshipTabClass" data-tab="internships">
                    Stáže
                    <span class="w-font-light">&nbsp;(@Model.Company.Internships.Count())</span>
                </a>
                <a class="item @thesisTabClass" data-tab="thesis">
                    Závěrečné práce
                    <span class="w-font-light">&nbsp;(@Model.Company.Theses.Count())</span>
                </a>
                <a class="item @contactTabClass" data-tab="contact">
                    Kontakt
                </a>
            </div>
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container w-margin-top-20 w-padding-bottom-30">
    <div class="ui grid">
        <div class="sixteen wide mobile six wide tablet five wide computer column">
            @Html.Partial("~/Views/GoogleMaps/GoogleMap.cshtml",
            new UI.Builders.GoogleMaps.Views.GoogleMapView()
            {
                Zoom = 15,
                Lat = Model.Company.Lat,
                Lng = Model.Company.Lng,
                MarkerTitle = Model.Company.CompanyName
            })

            <div class="ui segment w-font-light">
                <div class="ui list w-font-size-small">
                    <div class="item">
                        <div class="content">
                            @Html.Raw(CountryHelper.GetCountryIcon(Model.Company.CountryCode))
                            @{
                                <strong>@Model.Company.CountryName</strong>
                            }
                        </div>
                    </div>
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            @Model.Company.City, @Model.Company.Address
                        </div>
                    </div>
                    <div class="item">
                        @if (!string.IsNullOrEmpty(Model.Company.Web))
                        {
                            <i class="laptop icon"></i>
                            <div class="content">
                                <a href="@Model.Company.Web">
                                    @Model.Company.Web
                                </a>
                            </div>
                        }
                    </div>
                    <div class="item w-margin-top-10">
                        <i class="idea icon"></i>
                        <div class="content">
                            Založeno v roce @Model.Company.YearFounded
                        </div>
                    </div>
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            <span>@Model.Company.CompanySizeName zaměstnanců</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="tag icon"></i>
                        <div class="content">
                            <span>@Model.Company.CompanyCategoryName</span>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="w-company-social-icons">
                    @if (!string.IsNullOrEmpty(Model.Company.Facebook))
                    {
                        <a href="@Model.Company.Facebook">
                            <i class="facebook icon w-color-facebook"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.Twitter))
                    {
                        <a href="@Model.Company.Twitter">
                            <i class="twitter icon w-color-facebook"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.LinkedIn))
                    {
                        <a href="@Model.Company.LinkedIn">
                            <i class="linkedin icon w-color-linkedin"></i>
                        </a>
                    }
                </div>

            </div>
        </div>

        <div class="sixteen wide mobile ten wide tablet eleven wide computer column">
           
            <div class="ui tab segment @aboutTabClass" data-tab="about">
                @Html.Partial("Tabs/About", Model)
            </div>

            <div class="ui tab segment w-margin-top-0 @internshipTabClass" data-tab="internships">
                @Html.Partial("Tabs/Internships", Model)
            </div>

            <div class="ui tab segment w-margin-top-0 @thesisTabClass" data-tab="thesis">
                @Html.Partial("Tabs/Theses", Model)
            </div>

            <div class="ui tab segment w-margin-top-0 @contactTabClass" data-tab="contact">
                @Html.Partial("Tabs/Contact", Model)
            </div>
        </div>
    </div>
</div>
