@model UI.Builders.Company.Views.CompanyDetailView
@using UI.Helpers;
@using Common.Helpers;
@using UI.Extensions;
@{
    ViewBag.Title = Model.Company.CompanyName;
    ViewBag.Description = "Profil společnosti " + Model.Company.CompanyName;
    Layout = "~/Views/Shared/Body/Dark.cshtml";
}

@Html.RequireScript("/scripts/views/company/detail")

<div class="ui container w-margin-top-20">
    <div class="ui grid">
        <div class="sixteen wide column w-padding-bottom-0">
            <img alt="" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyBanner(Model.Company.ID)" class="ui image fluid w-company-detail-banner" />
        </div>
    </div>
</div>

<div id="_CompanyMenuWrapper" class="w-company-fixed-wrapper">
    <div class="ui container">
        <div class="ui vertical segment w-company-menu-wrapper">
            <img alt="Company logo" class="ui avatar image w-company-icon" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(Model.Company.ID)">

            <h1>
                @Model.Company.CompanyName
            </h1>

            <div id="_CompanyRightMenu" class="ui secondary pointing menu w-company-menu">
                <a class="item active" data-tab="first">
                    O nás
                </a>
                <a class="item" data-tab="second">
                    Stáže 
                    <span class="w-font-light">&nbsp;(@Model.Company.Internships.Count())</span>
                </a>
                <a class="item" data-tab="third">
                    Kontakt
                </a>
            </div>
            <div class="w-body-clear"></div>
        </div>
    </div>
</div>


<div class="ui container w-margin-top-20 w-padding-bottom-30">
    <div class="ui grid">
        <div class="sixteen wide mobile six wide tablet five wide computer column">
            @Html.Partial("~/Views/GoogleMaps/GoogleMap.cshtml",
            new UI.Builders.GoogleMaps.Views.GoogleMapView()
            {
                Zoom = 15,
                Lat = Model.Company.Lat,
                Lng = Model.Company.Lng,
                MarkerTitle = Model.Company.CompanyName
            })

            <div class="ui segment w-font-light">
                <div class="ui list w-font-size-small">
                    <div class="item">
                        <div class="content">
                            @Html.Raw(CountryHelper.GetCountryIcon(Model.Company.Country))
                            @{
                                var country = CountryHelper.GetCountry(Model.Company.Country);
                                if (country != null)
                                {
                                    <strong>@country.CountryName</strong>
                                }
                            }
                        </div>
                    </div>
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            @Model.Company.City, @Model.Company.Address
                        </div>
                    </div>
                    <div class="item">
                        @if (!string.IsNullOrEmpty(Model.Company.Web))
                        {
                            <i class="laptop icon"></i>
                            <div class="content">
                                <a href="@Model.Company.Web">
                                    @Model.Company.Web
                                </a>
                            </div>
                        }
                    </div>
                    <div class="item w-margin-top-10">
                        <i class="idea icon"></i>
                        <div class="content">
                            Založeno v roce @Model.Company.YearFounded
                        </div>
                    </div>
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            @{
                                // get display name of company size
                                var companySizeDisplay = InternshipHelper.GetAllowedCompanySizes().Where(m => m.Value == Model.Company.CompanySize.ToString()).FirstOrDefault();

                                if (companySizeDisplay != null)
                                {
                                    <span>@companySizeDisplay.Name zaměstnanců</span>
                                }
                            }
                        </div>
                    </div>
                </div>

                <hr />

                <div class="w-company-social-icons">
                    @if (!string.IsNullOrEmpty(Model.Company.Facebook))
                    {
                        <a href="@Model.Company.Facebook">
                            <i class="facebook icon"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.Twitter))
                    {
                        <a href="@Model.Company.Twitter">
                            <i class="twitter icon"></i>
                        </a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Company.LinkedIn))
                    {
                        <a href="@Model.Company.LinkedIn">
                            <i class="linkedin icon"></i>
                        </a>
                    }
                </div>

            </div>
        </div>

        <div class="sixteen wide mobile ten wide tablet eleven wide computer column">
            <div class="ui tab segment active" data-tab="first">
                <h2>
                    O nás
                </h2>
                <p>
                    @Html.Raw(Model.Company.LongDescription)
                </p>
            </div>

            <div class="ui tab segment w-margin-top-0" data-tab="second">
                <h2>
                    Aktuální nabídky
                </h2>

                <table class="ui very basic table">
                    <tbody>
                        @foreach (var internship in Model.Company.Internships)
                        {
                            <tr>
                                <td class="w-font-size-large">
                                    <a href="#">
                                        @internship.Title <span class="w-font-size-small w-font-light">
                                            @if (internship.IsPaid)
                                            {
                                                <span>(@StringHelper.FormatNumber(internship.Amount) @internship.Currency / @internship.AmountType)</span>
                                            }
                                        </span>
                                    </a>
                                </td>
                                <td class="collapsing">
                                    <a href="@Url.Action("AnswerTODO", "Auth")">
                                        <div class="ui button primary">
                                            Odpovědět
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <div class="ui tab segment w-margin-top-0" data-tab="third">
                <h2>
                    Napiš nám
                </h2>

                @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.RenderFormValidationResult(Model.ContactUsForm.FormResult.IsSuccess)

                    <div class="ui reply form">
                        <div class="field">
                            <textarea name="Message" @Model.ContactUsForm.Message></textarea>
                        </div>

                        <button class="ui button submit primary" type="submit">
                           Odeslat
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
