@model UI.Builders.Company.Views.CompanyBrowseView
@using UI.Helpers;
@using UI.Extensions;
@using Common.Helpers;
@{
    ViewBag.Title = "Přehled firem";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
    Model.Master.UIHeader.SetHeader(UI.Builders.Shared.UIHeaderType.blue, ViewBag.Title);
}

@Html.RequireScript("/scripts/views/company/browse")


<div class="ui centered grid">
    <div class="ui sixteen wide column">
        <div class="ui padded segment">
            <div class="ui icon input fluid">
                <input id="_SearchCompanies" placeholder="Hledej firmu ..." type="text">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>

<div id="_CompanySegment" class="ui centered padded grid w-company-segment">
    @foreach (var company in Model.Companies)
    {
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer w-color-background-white column w-padding-none">
            <div class="ui segment basic padded w-margin-none w-body-text-left">
                <div class="ui items">
                    <div class="item">
                        <img class="ui image tiny w-company-logo" alt="" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetCompanyLogo(company.ID)" />
                        <div class="middle aligned content">
                            <div class="header">
                                <a href="@Url.Action("Index", "Company", new { codeName = company.CodeName })">
                                    @company.CompanyName
                                </a>
                            </div>
                            <div class="meta">
                                @Html.Raw(company.CountryIconHTML) @company.City
                                |
                                <a href="@Url.Action("Index", "Company", new { codeName = company.CodeName, tab = UI.Builders.Company.Enums.CompanyDetailMenuEnum.Internships })">
                                    @StringHelper.GetPluralWord(company.InternshipCount, "žádné volné stáže", "{count} stáž", "{count} stáže", "{count} stáže")
                                </a>
                                | <a href="@Url.Action("Index", "Company", new { codeName = company.CodeName, tab = UI.Builders.Company.Enums.CompanyDetailMenuEnum.Theses })">@company.ThesesCount @StringHelper.GetPluralWord(company.ThesesCount, "nenabízí závěrečné práce", "závěrečná práce", "závěrečné práce", "závěrečných prací")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Company", new { codeName = company.CodeName })">
                <img class="ui image w-company-browse-banner" alt="@company.CompanyName logo" data-src="@ImageHelper.GetCompanyBanner(company.ID)" src="@ImageHelper.GetTransparentImage()" />
            </a>
        </div>
    }
</div>

<div id="_CompanyLoading" class="ui segment basic w-segment-no-background loading">
    Nahrávám
</div>

<div id="_AllCompaniesLoaded" class="w-margin-top-20 w-body-text-center">
    @Html.RenderInfoMessage("Všechny firmy načteny")
</div>

<div id="_NoCompaniesFound" class="w-margin-top-20 w-body-text-center">
    @Html.RenderWarningMessage("Žádné firmy nebyly nalezeny")
</div>





